<div id="banner-300x250-area">
	<script type="text/javascript">
		(function(){
			document.write('<scr' + 'ipt type="text/javascript" src="easeljs-0.7.1.min.js' + '"></scr' + 'ipt>');
			document.write('<scr' + 'ipt type="text/javascript" src="tweenjs-0.5.1.min.js' + '"></scr' + 'ipt>');
			document.write('<scr' + 'ipt type="text/javascript" src="movieclip-0.7.1.min.js' + '"></scr' + 'ipt>');
			document.write('<scr' + 'ipt type="text/javascript" src="preloadjs-0.4.1.min.js' + '"></scr' + 'ipt>');
		})();
	</script>
	<script type="text/javascript">
		(function (lib, img, cjs) {

		var p; // shortcut to reference prototypes

		// library properties:
		lib.properties = {
			width: 300,
			height: 250,
			fps: 18,
			color: "#FFFFFF",
			manifest: [
				{src:"Bitmap3.jpg", id:"Bitmap3"},
				{src:"img1.jpg", id:"img1"}
			]
		};

		// symbols:

		(lib.Bitmap3 = function() {
			this.initialize(img.Bitmap3);
		}).prototype = p = new cjs.Bitmap();
		p.nominalBounds = new cjs.Rectangle(0,0,300,250);


		(lib.img1 = function() {
			this.initialize(img.img1);
		}).prototype = p = new cjs.Bitmap();
		p.nominalBounds = new cjs.Rectangle(0,0,340,250);


		(lib.Symbol2copy3 = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("A CRESCER", "50px 'GothamBlack'", "#00AEEE");
			this.text.lineHeight = 45;
			this.text.setTransform(-157.8,-52.4);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-157.8,-52.4,302,59.9);


		(lib.Symbol2copy2 = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("PARA CONTINUAR", "50px 'GothamBlack'", "#00AEEE");
			this.text.lineHeight = 45;
			this.text.setTransform(-157.8,-52.4);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-157.8,-52.4,486.7,59.9);


		(lib.Symbol2copy = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("FAZENDO AJUSTES", "50px 'GothamBlack'", "#00AEEE");
			this.text.lineHeight = 45;
			this.text.setTransform(-157.8,-49.8);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-157.8,-49.8,514.9,59.9);


		(lib.Symbol1 = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("ENTENDA POR QUE", "50px 'GothamBlack'", "#3E4095");
			this.text.lineHeight = 45;
			this.text.setTransform(-190.1,-39.6);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-190.1,-39.6,512.1,59.9);


		(lib.ponteiro = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FED43E").s().p("AAABNQgDAAgDgDQgDgDABgEIAAiFQgBgEADgDQADgDADAAIAAAAQADAAADADQADADAAAEIAACFQAAAEgDADQgDADgDAAg");
			this.shape.setTransform(0,-6.3);

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-1,-14,2,15.5);


		(lib.play = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#0094FF").s().p("An7vfIP3PfIv3Pgg");

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-50.8,-99.3,101.7,198.6);


		(lib.brilhoplay = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["rgba(255,255,255,0.2)","rgba(255,255,255,0.722)"],[0,1],20.9,-92.8,115.3,45.4).s().p("AgbMgIxxksQkHjxhTjYQhNjEBNimQBHiYDChwQC1hqEHg4QEAg3EeABQEfABEJA5QEXA9DNByQDdB8BsCsQBxCvA0BVQBZCOA0BrQCJEaAAEXg");
			this.shape.setTransform(2.9,-78.8);

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-152.1,-158.8,310,160.1);


		(lib.patriaeducadora = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#254B65").s().p("AAMAVIgEgKIgPAAIgEAKIgKAAIASgpIAHAAIASApgAgEADIAJAAIgFgLg");
			this.shape.setTransform(76.8,0.9,1.335,1.335);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#254B65").s().p("AAHAUIgHgNIgHAAIAAANIgKAAIAAgnIASAAQAHgBAFAFQADADAAAGQAAAFgCABQgCAEgFACIALAOgAgHAAIAHAAQADAAACgBQABAAAAgBQAAAAAAgBQABAAAAgBQAAAAAAgBQAAgBAAAAQAAgBgBgBQAAAAAAgBQAAAAgBAAQgCgCgDAAIgHAAg");
			this.shape_1.setTransform(66.4,0.9,1.335,1.335);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#254B65").s().p("AgHATIgHgEQgDgCgCgFQgCgEAAgEQAAgDACgEQACgEADgDIAHgEQAEgCADAAIAJACQAEABADADIAEAHQACAEAAADIgCAIIgFAHIgHAEQgDACgFAAQgDAAgEgCgAgEgKIgEACIgCAEIgBAEIABAFIADADQABADADAAIADABIAFgBIAEgDIACgDIABgFIgBgEIgCgEIgEgCIgFgBIgEABg");
			this.shape_2.setTransform(55.3,0.9,1.335,1.335);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("#254B65").s().p("AgSAUIAAgnIAQAAQAEAAADABQAEABADADQADAEACADQACAEAAADQAAAEgCAEQgCADgDAEIgHADQgDACgEAAgAgJAMIAHAAIAEgBIADgDIADgDIABgFIgBgEIgDgDIgDgDIgLgBg");
			this.shape_3.setTransform(44.3,0.9,1.335,1.335);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("#254B65").s().p("AAMAVIgEgKIgPAAIgEAKIgKAAIASgpIAHAAIASApgAgEADIAJAAIgFgLg");
			this.shape_4.setTransform(33.3,0.9,1.335,1.335);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("#254B65").s().p("AgFATIgHgEQgDgDgBgEQgCgEAAgEQAAgDACgEQABgEADgDIAHgEQAEgCADAAIAFABIAFABIADABIADADIgGAHIgEgDIgGgBIgDABIgEACIgCAEIgBAEIABAFIACADQABABAAABQAAAAABAAQAAABABAAQAAAAABAAIADABQAEAAACgBIAFgDIAGAGIgEADIgEACIgEABIgFABIgHgCg");
			this.shape_5.setTransform(22.7,0.9,1.335,1.335);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("#254B65").s().p("AgMAQQgFgFAAgJIAAgWIAJAAIAAAWQAAAEADAEQACACADAAQADAAADgCQACgCAAgGIAAgWIAKAAIAAAWQAAAFgCADIgDAGIgGAEIgHABQgHAAgFgFg");
			this.shape_6.setTransform(12.1,1,1.335,1.335);

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#254B65").s().p("AgRAUIAAgnIAPAAQAEAAADABQAEABADADIAFAHQABAEABADQgBAEgBAEIgFAHIgHADQgDACgEAAgAgJAMIAHAAIAEgBIADgDIADgDIABgFIgBgEIgDgDIgDgDIgLgBg");
			this.shape_7.setTransform(1.5,0.9,1.335,1.335);

			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("#254B65").s().p("AgOAUIAAgnIAdAAIAAAIIgUAAIAAAIIARAAIAAAGIgRAAIAAAJIAUAAIAAAIg");
			this.shape_8.setTransform(-8.8,0.9,1.335,1.335);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("#254B65").s().p("AAMAVIgEgKIgPAAIgEAKIgKAAIASgpIAHAAIASApgAgEADIAJAAIgFgLg");
			this.shape_9.setTransform(-29.1,0.9,1.335,1.335);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("#254B65").s().p("AgDAUIAAgnIAHAAIAAAng");
			this.shape_10.setTransform(-38.1,0.9,1.335,1.335);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("#254B65").s().p("AAHAUIgHgNIgHAAIAAANIgKAAIAAgnIASAAQAHgBAFAFQAEADgBAGQAAAFgCABQgCAEgFACIAKAOgAgHAAIAHAAQADAAACgBQABAAAAgBQAAAAABgBQAAAAAAgBQAAAAAAgBQAAgBAAAAQAAgBAAgBQgBAAAAgBQAAAAgBAAQgCgCgDAAIgHAAg");
			this.shape_11.setTransform(-46.8,0.9,1.335,1.335);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("#254B65").s().p("AgFAcIAAgrIgQAAIAAgMIAsAAIAAAMIgRAAIAAArg");
			this.shape_12.setTransform(-57,1);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("#254B65").s().p("AAMAbIgEgJIgQAAIgDAJIgJAAIARgoIAHAAIASAogAgEAKIAJAAIgFgLgAgCgQIAFgLIAHAEIgHAHg");
			this.shape_13.setTransform(-67.3,0,1.335,1.335);

			this.shape_14 = new cjs.Shape();
			this.shape_14.graphics.f("#254B65").s().p("AgPAUIAAgnIAPAAIAHABIAFACIADAFIABAGQAAAEgCABQAAACgDACIgFADIgGABIgGAAIAAAMgAgGAAIAGAAQADAAACAAIABgFIAAAAQAAgBAAAAQAAgBAAgBQAAAAgBgBQAAAAAAAAQgCgCgDAAIgGAAg");
			this.shape_14.setTransform(-77.5,0.9,1.335,1.335);

			this.addChild(this.shape_14,this.shape_13,this.shape_12,this.shape_11,this.shape_10,this.shape_9,this.shape_8,this.shape_7,this.shape_6,this.shape_5,this.shape_4,this.shape_3,this.shape_2,this.shape_1,this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-79.7,-3.7,159.5,7.6);


		(lib.item2 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_11 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(11).call(this.frame_11).wait(1));

			// Layer 4
			this.shape = new cjs.Shape();
			this.shape.graphics.f("rgba(74,181,88,0)").s().p("AhOBPQghghAAguQAAgtAhghQAhghAtAAQAuAAAhAhQAhAhAAAtQAAAughAhQghAhguAAQgtAAghghgAgzgzQgWAVAAAeQAAAeAWAWQAWAWAdAAQAfAAAVgWQAWgWAAgeQAAgdgWgWQgVgWgfAAQgdAAgWAWg");
			this.shape.setTransform(6.3,-15,0.625,0.625);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("rgba(74,181,88,0.267)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_1.setTransform(2.1,-13.6);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("rgba(74,181,88,0.49)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_2.setTransform(-1.5,-12.4);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("rgba(74,181,88,0.675)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_3.setTransform(-4.4,-11.4);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("rgba(74,181,88,0.816)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_4.setTransform(-6.7,-10.6);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("rgba(74,181,88,0.918)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_5.setTransform(-8.3,-10.1);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("rgba(74,181,88,0.98)").s().p("AgwAxQgVgVAAgcQAAgcAVgUQAUgVAcAAQAdAAAUAVQAVAUAAAcQAAAcgVAVQgUAVgdAAQgcAAgUgVgAggggQgNAOAAASQAAATANANQAOAOASAAQATAAANgOQAOgNAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_6.setTransform(-9.3,-9.8);

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#4AB558").s().p("AhOBPQghghAAguQAAgtAhghQAhghAtAAQAuAAAhAhQAhAhAAAtQAAAughAhQghAhguAAQgtAAghghgAgzgzQgWAVAAAeQAAAeAWAWQAWAWAdAAQAfAAAVgWQAWgWAAgeQAAgdgWgWQgVgWgfAAQgdAAgWAWg");
			this.shape_7.setTransform(-9.6,-9.7,0.625,0.625);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[]}).to({state:[{t:this.shape}]},4).to({state:[{t:this.shape_1}]},1).to({state:[{t:this.shape_2}]},1).to({state:[{t:this.shape_3}]},1).to({state:[{t:this.shape_4}]},1).to({state:[{t:this.shape_5}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_7}]},1).wait(1));

			// Layer 1
			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("rgba(74,181,88,0)").s().p("AhOBPQghghAAguQAAgtAhghQAhghAtAAQAuAAAhAhQAhAhAAAtQAAAughAhQghAhguAAQgtAAghghgAgzgzQgWAWAAAdQAAAfAWAWQAWAWAdAAQAeAAAWgWQAWgWAAgfQAAgdgWgWQgVgWgfAAQgdAAgWAWg");
			this.shape_8.setTransform(-6.2,14.9,0.625,0.625);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("rgba(74,181,88,0.267)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_9.setTransform(-2,13.5);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("rgba(74,181,88,0.49)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_10.setTransform(1.6,12.3);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("rgba(74,181,88,0.675)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_11.setTransform(4.5,11.4);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("rgba(74,181,88,0.816)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_12.setTransform(6.8,10.6);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("rgba(74,181,88,0.918)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_13.setTransform(8.4,10.1);

			this.shape_14 = new cjs.Shape();
			this.shape_14.graphics.f("rgba(74,181,88,0.98)").s().p("AgwAxQgVgUAAgdQAAgbAVgVQAVgVAbAAQAdAAAUAVQAVAVAAAbQAAAcgVAVQgUAVgdAAQgbAAgVgVgAggggQgNAOAAASQAAATANAOQAOANASAAQATAAANgNQAOgOAAgTQAAgSgOgOQgNgNgTAAQgSAAgOANg");
			this.shape_14.setTransform(9.4,9.7);

			this.shape_15 = new cjs.Shape();
			this.shape_15.graphics.f("#4AB558").s().p("AhOBPQghghAAguQAAgtAhghQAhghAtAAQAuAAAhAhQAhAhAAAtQAAAughAhQghAhguAAQgtAAghghgAgzgzQgWAWAAAdQAAAfAWAWQAWAWAdAAQAeAAAWgWQAWgWAAgfQAAgdgWgWQgVgWgfAAQgdAAgWAWg");
			this.shape_15.setTransform(9.7,9.6,0.625,0.625);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[]}).to({state:[{t:this.shape_8}]},2).to({state:[{t:this.shape_9}]},1).to({state:[{t:this.shape_10}]},1).to({state:[{t:this.shape_11}]},1).to({state:[{t:this.shape_12}]},1).to({state:[{t:this.shape_13}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_15}]},1).wait(3));

			// Layer 3
			this.shape_16 = new cjs.Shape();
			this.shape_16.graphics.f("#4AB558").s().p("AgNAUQgEgDgBgFQgBgFADgEIAQgTQABgEAFgBQAEAAAFADQADACABAFQABAFgDAEIgQAUQgBADgEABIgCAAQgEAAgDgCg");
			this.shape_16.setTransform(-12.5,16.3);

			this.shape_17 = new cjs.Shape();
			this.shape_17.graphics.f("#4AB558").s().p("AguA/QgEgDgBgFQgBgEADgEIBQhqQADgFAFAAQAFgBAEADQAEADAAAFQABAFgDAEIhQBqQgCADgFABIgCAAQgFAAgCgCg");
			this.shape_17.setTransform(-9.2,12);

			this.shape_18 = new cjs.Shape();
			this.shape_18.graphics.f("#4AB558").s().p("AhKBkQgEgDgBgFQgBgFADgEICIizQADgEAFgBQAFgBAEADQAEADAAAFQABAFgDAEIiIC0QgCADgFABIgCAAQgFAAgCgCg");
			this.shape_18.setTransform(-6.4,8.3);

			this.shape_19 = new cjs.Shape();
			this.shape_19.graphics.f("#4AB558").s().p("AhhCCQgEgDgBgFQgBgFADgEIC2jvQADgEAFgBQAFgBAEADQAEADAAAEQABAGgDAEIi2DwQgCADgFABIgCAAQgFAAgCgCg");
			this.shape_19.setTransform(-4.1,5.3);

			this.shape_20 = new cjs.Shape();
			this.shape_20.graphics.f("#4AB558").s().p("AhzCZQgEgDgBgFQgBgEADgEIDakfQADgDAFgCQAFAAAEADQADADABAEQAAAFgCAEIjaEfQgCADgFABIgCABQgEAAgDgDg");
			this.shape_20.setTransform(-2.3,3);

			this.shape_21 = new cjs.Shape();
			this.shape_21.graphics.f("#4AB558").s().p("AiACqQgDgDgBgFQgBgEADgEIDzlAQADgEAFgBQAFgBAEADQADADABAFQAAAFgCAEIj0FAQgCADgFABIgCAAQgEAAgDgCg");
			this.shape_21.setTransform(-1,1.3);

			this.shape_22 = new cjs.Shape();
			this.shape_22.graphics.f("#4AB558").s().p("AiIC0QgDgDgBgFQgBgEADgEIEClUQADgEAFgBQAFgBAEADQAEADAAAEQABAGgDAEIkDFUQgCADgFABIgBAAQgFAAgDgCg");
			this.shape_22.setTransform(-0.2,0.3);

			this.shape_23 = new cjs.Shape();
			this.shape_23.graphics.f("#4AB558").s().p("AiKC3QgEgDgBgFQgBgEADgEIEIlbQADgEAFgBQAFAAAEADQADADABAEQAAAFgCAEIkIFbQgCADgFABIgCABQgEAAgDgDg");

			this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_16}]}).to({state:[{t:this.shape_17}]},1).to({state:[{t:this.shape_18}]},1).to({state:[{t:this.shape_19}]},1).to({state:[{t:this.shape_20}]},1).to({state:[{t:this.shape_21}]},1).to({state:[{t:this.shape_22}]},1).to({state:[{t:this.shape_23}]},1).wait(5));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-14.4,14.1,3.9,4.5);


		(lib.img1_1 = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#E6E5E6").s().p("A8FXRMAAAguhMA4LAAAMAAAAuhg");
			this.shape.setTransform(-18.6,-148.7);

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-198.5,-297.7,359.8,298);


		(lib.governofederal = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#000000").s().p("AgOAUIAAgnIAKAAIAAAfIATAAIAAAIg");
			this.shape.setTransform(77.6,0,1.335,1.335);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#000000").s().p("AAMAUIgEgJIgPAAIgEAJIgKAAIASgnIAHAAIASAngAgEADIAJAAIgFgLg");
			this.shape_1.setTransform(66.4,-0.1,1.335,1.335);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#000000").s().p("AAHAUIgHgNIgHAAIAAANIgJAAIAAgnIARAAQAGAAAFAEQAEADAAAHQAAAFgDABQgCADgEACIALAOgAgHAAIAHAAQADAAACgBQABAAAAgBQAAAAAAgBQABAAAAgBQAAAAAAgBIAAAAQAAgBAAAAQAAgBgBgBQAAAAAAgBQAAAAgBgBIgFgBIgHAAg");
			this.shape_2.setTransform(55.3,0,1.335,1.335);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("#000000").s().p("AgOAUIAAgnIAdAAIAAAIIgUAAIAAAIIARAAIAAAHIgRAAIAAAIIAUAAIAAAIg");
			this.shape_3.setTransform(44.2,0,1.335,1.335);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("#000000").s().p("AgSAUIAAgnIAQAAQAEAAADABQAFACADADIAEAGIACAHIAAAAQAAAEgCAEIgEAGQgDADgFACQgDABgEAAgAgJAMIAHAAIAEgBIAEgCIACgEIABgFIgBgDIgCgEIgEgDIgLgBg");
			this.shape_4.setTransform(33.1,0,1.335,1.335);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("#000000").s().p("AgPAUIAAgnIAeAAIAAAIIgVAAIAAAIIASAAIAAAHIgSAAIAAAIIAWAAIAAAIg");
			this.shape_5.setTransform(21.9,0,1.335,1.335);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("#000000").s().p("AgOAUIAAgnIAdAAIAAAIIgUAAIAAAJIASAAIAAAGIgSAAIAAAQg");
			this.shape_6.setTransform(11.3,0,1.335,1.335);

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#000000").s().p("AgHAUIgIgGIgEgGQgCgDAAgFQAAgDACgEIAFgHIAHgFQAEgBADAAQAFAAADABQAEACADADIAFAHIACAHIAAAAQAAAEgCADQgBAFgEACIgHAGQgDABgFAAQgDAAgEgBgAgEgLIgEADIgCAEIgBAEIAAAAIABAFIACADIAEAEIAEABIAFgBIAEgEIACgDIABgFIgBgDIgDgFIgEgDQgCgBgCAAg");
			this.shape_7.setTransform(-8,0,1.335,1.335);

			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("#000000").s().p("AAKAUIgSgYIAAAYIgJAAIAAgnIAIAAIASAXIAAgXIAJAAIAAAng");
			this.shape_8.setTransform(-19.9,0,1.335,1.335);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("#000000").s().p("AAHAUIgHgNIgHAAIAAANIgJAAIAAgnIARAAQAIAAADAEQAFAEAAAGQgBAEgCACQgDADgDACIAKAOgAgHAAIAHAAQADAAACgBQAAAAABgBQAAAAAAAAQABgBAAgBQAAAAAAgBIAAAAQAAgBAAgBQAAAAgBgBQAAAAAAgBQgBAAAAgBIgFgBIgHAAg");
			this.shape_9.setTransform(-31.1,0,1.335,1.335);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("#000000").s().p("AgPAUIAAgnIAeAAIAAAIIgVAAIAAAIIATAAIAAAHIgTAAIAAAIIAVAAIAAAIg");
			this.shape_10.setTransform(-42.1,0,1.335,1.335);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("#000000").s().p("AgCAVIgSgpIAKAAIAKAcIALgcIAKAAIgRApg");
			this.shape_11.setTransform(-53.2,0,1.335,1.335);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("#000000").s().p("AgHAUIgHgGIgFgGQgCgDAAgFQAAgEACgDQACgEADgDIAHgFQAEgBADAAIAJABQAEACADADIAEAHIACAHIAAAAQAAAEgCADIgFAHIgHAGQgDABgFAAQgDAAgEgBgAgEgLIgEADIgCAEIgBAEIAAAAIABAFIADADIAEAEIADABIAFgBIAEgEIACgDIABgFIgBgDIgCgFIgEgDQgCgBgDAAg");
			this.shape_12.setTransform(-65,0,1.335,1.335);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("#000000").s().p("AgGAUQgEgCgCgDQgEgDgBgEQgBgDgBgFQABgDABgEQABgEAEgDQACgDAEgCIAHgBIAGAAIADABIAFACIADADIgGAGIgDgCIgEgCIgEAAIgCABIgFADIgCAEIgBAEIABAFIACAEIAFADIADABQAFgBADgCIAAgGIgJAAIAAgGIASAAIAAAQIgHAFQgFACgGAAQgCAAgFgBg");
			this.shape_13.setTransform(-76.9,0,1.335,1.335);

			this.addChild(this.shape_13,this.shape_12,this.shape_11,this.shape_10,this.shape_9,this.shape_8,this.shape_7,this.shape_6,this.shape_5,this.shape_4,this.shape_3,this.shape_2,this.shape_1,this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-79.6,-2.9,159.2,5.8);


		(lib.ClipGroup_11 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("ApUC6IAAlzISpAAIAAFzg");
			mask.setTransform(59.8,18.6);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FFFFFF").s().p("AAAgDQgUgEgVAFIACgIQAVgFAUAFQAWAFASALIgBAHQgSgNgXgDg");
			this.shape.setTransform(57,17);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(52.8,15.6,8.5,2.8);


		(lib.ClipGroup_9 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AhjB2QgEAAgDgDQgEgDAAgFIAAjVQAAgEAEgDQADgDAEAAIAKAAIAAgBIBuAAQAtAAAWAWQAOAOAAAXIAAAAQABAogrAOQAyANABArIAAAAQAAAegYARQgYATgrAAgAggA6IAlAAQAaAAAAgRIAAgBQAAgRgaAAIglAAgAgggYIAgAAQAZAAAAgQIAAAAQAAgRgZAAIggAAg");
			mask.setTransform(22.7,22.7);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-9.6,12,8.1,-9.9).s().p("AjhAYIDLj5ID4DKIjMD5g");
			this.shape.setTransform(22.7,22.7);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(11.6,10.9,22.2,23.7);


		(lib.ClipGroup_8 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AAjB2QgLAAgFgJIglg7IgJAAQgDAAgCAEQgDADAAAEIAAAuQAAAFgDADQgDADgFAAIg5AAQgFAAgDgDQgDgDAAgFIAAjVQAAgEADgDQADgDAFAAIALAAIAAgBIBcAAQA6AAAbAbQAVAXAAAiIAAAAQAAAwguAXIA3BQgAgjgEIAiAAQAdAAAAgXIAAgBQAAgWgcAAIgjAAg");
			mask.setTransform(22.7,22.6);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-8.8,12.8,7,-9.8).s().p("AjhAoIC7kJIEIC6Ii7EJg");
			this.shape.setTransform(22.7,22.7);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(11.2,10.8,23.1,23.7);


		(lib.ClipGroup_7 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AgbB1QgFAAgDgDQgDgCAAgFIAAjVQAAgFADgDQADgDAFAAIA3AAQAEAAAEADQADADAAAFIAADVQAAAFgDACQgEADgEAAg");
			mask.setTransform(10.9,14.2);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-3.7,11.6,3.8,-11.5).s().p("AhsBfIBOjrICKAuIhNDrg");
			this.shape.setTransform(10.9,14.2);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(7,2.4,7.9,23.6);


		(lib.ClipGroup_6 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AhTB2QgEAAgDgDQgEgDAAgFIAAjVQAAgFAEgDQADgCAEAAIA6AAQAEAAADACQADADAAAFIAACRQAAAFAEADQADADAEAAIBYAAQAEAAAEAEQADADAAAEIAAAuQAAAFgDADQgEADgEAAg");
			mask.setTransform(20.3,20.5);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-7.8,12.1,4.6,-6.9).s().p("AjKAvIClj7IDwCdIilD8g");
			this.shape.setTransform(20.3,20.5);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(10.8,8.7,19.1,23.6);


		(lib.ClipGroup_5 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AgkB2QgugKgdgaIAigpQADgDAFgBQAFgBAEADIABAAIABABQAYAPAdAEIAQABQAVAAAAgKIAAgBQAAgIgYgGIgIgBQgvgKgWgOQgegRAAghIAAgBQAAgbAQgUQARgVAfgIIBQAAQAkAIAZAVIggAsQgGAJgIgFQgMgIgRgFQgSgFgOAAQgRAAAAAJIAAABQAAAFAGADQAHAEAQADQAzAJAWAQQAcAQAAAiIAAAAQAAAdgRAUQgSATgfAIg");
			mask.setTransform(21.9,21.9);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-6.9,11.2,7.1,-11.4).s().p("AjZA0ICpkOIEKCnIipEOg");
			this.shape.setTransform(21.9,22);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(10.6,10.1,22.5,23.7);


		(lib.ClipGroup_4 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AA/B2QgFAAgEgDQgEgDgCgEIgGgRQgEgJgLAAIg4AAQgJAAgFAJIgGARQgCAEgEADQgEADgFAAIg/AAQgEAAgCgDQgCgDACgEIBbjYQADgGAGgDIBDAAQAGAEACAFIBcDYQADAKgKAAg");
			mask.setTransform(25.4,25.4);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#34573A","#396A42","#3F884D","#419C54","#43A557"],[0,0.231,0.576,0.843,1],-11.4,12.9,7.3,-8.1).s().p("Aj9AOIDukLIEMDxIjtEKg");
			this.shape.setTransform(25.4,25.4);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(11.9,13.6,27.1,23.7);


		(lib.ClipGroup_2 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("Ah2AAIB2hGIB3BGIh3BHg");
			mask.setTransform(11.9,7.2);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#F27E40","#FCB940"],[0,1],-11.9,0,12,0).s().p("Ah2BHIAAiNIDtAAIAACNg");
			this.shape.setTransform(11.9,7.2);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(0,0,23.9,14.4);


		(lib.ClipGroup_1 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("AgdAeQgMgNAAgRQAAgRAMgMQANgNAQAAQARAAANANQAMAMAAARQAAARgMANQgNANgRAAQgQAAgNgNg");
			mask.setTransform(4.3,4.3);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.lf(["#355085","#355085","#3A7BB4"],[0,0.008,1],-4.3,0,4.3,0).s().p("AgpArIAAhVIBTAAIAABVg");
			this.shape.setTransform(4.3,4.3);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(0,0,8.6,8.6);


		(lib.ClipGroup_0 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("Ah2AmIAAhLIDtAAIAABLg");
			mask.setTransform(11.9,3.9);

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#ACB2B4").s().p("Ah2glIB3BCIB2hCIh3BLg");
			this.shape.setTransform(11.9,3.9);

			this.shape.mask = mask;

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(0,0,23.9,7.8);


		(lib.Symbol2 = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("O BRASIL ESTÁ", "50px 'GothamBlack'", "#3E4095");
			this.text.lineHeight = 45;
			this.text.setTransform(-157.8,-44.7);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-157.8,-44.7,403.4,59.9);


		(lib.corpo = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#4AB558").s().p("AqhIlQgfAAgWgWQgWgXAAgfIAAkRQAAiZA7iJQA5iGBohoQBohoCGg5QCLg7CXAAQCcAACMA9QCLA8BrBvIABACIABAAIACACQBiBoA0CEQA1CDAACRIAAERQAAAfgWAXQgWAWgfAAgAFdBhQAfAAAWAWQAWAWAAAfIAADiICuAAIAAjGQAAh0gqhoQgqhphOhUIgCgBIgBgBQhVhahvgwQhxgwh8AAQj2AAiwCwQivCvAAD2IAADGICuAAIAAjiQAAgfAWgWQAWgXAfABQAgAAAWAWQAWAWAAAfIAADiIIhAAIAAjiQAAgfAWgWQAWgWAeAAIACAAg");

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-74.9,-54.9,150,109.9);


		(lib.cabeca = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#4AB558").s().p("AlIFJQiIiJAAjAQAAi/CIiJQCJiIC/AAQBdAABVAjQBVAjBCBCQBCBCAjBVQAjBVAABcQAABdgjBVQgjBVhCBCQhCBChVAjQhVAjhdAAQi/AAiJiIgAjdjdQhcBcAACBQAACCBcBcQBdBcCAAAQA/AAA5gYQA6gXAsgtQAtgsAYg6QAXg6AAg+QAAg+gXg5QgYg6gtgsQgsgtg6gYQg5gXg/AAQiAAAhdBcg");
			this.shape.setTransform(0,-35.6);

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-46.5,-82.1,93.2,93.2);


		(lib.btnsoundshape1_solid = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FFFFFF").s().p("AAhBBIgoglIgkAAIAAg7IAkAAIAoghIALAAIAACBg");
			this.shape.setTransform(4.5,6.6);

			this.addChild(this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(0,0,8.9,13.2);


		(lib.bt2 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#000000").s().p("EgnsAZDMAAAgyFMBPZAAAMAAAAyFgAXg1NQiXBzAACiQAAChCXB0QCXByDWAAQDXAACWhyQCYhzAAiiQAAiiiYhzQiWhzjXABQjWgBiXBzg");
			this.shape.setTransform(0,-160.3);
			this.shape._off = true;

			this.timeline.addTween(cjs.Tween.get(this.shape).wait(3).to({_off:false},0).wait(1));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = null;


		(lib.bt = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#000000").s().p("EgnsAZDMAAAgyFMBPZAAAMAAAAyFg");
			this.shape.setTransform(0,-160.3);
			this.shape._off = true;

			this.timeline.addTween(cjs.Tween.get(this.shape).wait(3).to({_off:false},0).wait(1));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = null;


		(lib.balao = function() {
			this.initialize();

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#4AB558").s().p("AguFiQgQgPAAgWIAAgTQAAgVAQgPQAPgQAVAAQAUAAAPAQQAOAPAAAVIAAATQAAAWgOAPQgPAPgUAAQgVAAgPgPgAguCsQgQgOAAgWIAAhuIABgCIgBgDQAAgUAQgOQAPgPAVAAQAwAAAigiQAjgjAAgxQAAgygjgiQgigigwAAQggAAgbAQQgbAPgPAbQgMATgUAFQgVAGgTgLQgSgMgGgUQgFgUALgTQAdgyAygeQA0gdA8AAQBZgBBCBBQBBBCAABbQAABOgxA8QgwA5hKASIAABFQAAAWgOAOQgPAPgUAAQgVAAgPgPg");
			this.shape.setTransform(-68.5,-93.3);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#FED43E").s().p("AJcOXQinAAiRg0QiSg0hrhjIgnABQjMAAi9hBQi2g+iMhxQiNhxhNiTQhQiYAAikQAAinBQiYQBNiTCNhxQCMhyC2g+QC9hADMAAQDNAAC9BAQC2A+CNByQCMBxBNCTQBQCYAACnQAADViFC8QiEC7jjBvQBKBfBzA4QAbANANAbQANAbgFAdQgGAdgXATQgVAUgeACQgiACgfAAIgKAAgACGI2QBnBpCbAtQgcgigYgpIgSghIgEgKQgSgjAOgkQAPgkAkgOQDYhRCBidQCCieAAi0QAAiDhDh4QhAhzh0haQj2i8lbAAQlaAAj2C9Qh1BZhABzQhCB4ABCDQgBCABCB4QBABzB1BZQD3C9FZAAIBDgCIAHAAQAkAAAYAag");
			this.shape_1.setTransform(-71.4,-84.9);

			this.addChild(this.shape_1,this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-172.9,-176.8,202.9,184);


		(lib.Cliqueaquiesaibamais = function() {
			this.initialize();

			// Layer 1
			this.text = new cjs.Text("Clique e saiba mais", "50px 'Arial'", "#0095FF");
			this.text.lineHeight = 45;
			this.text.setTransform(9.3,-8.2,0.525,0.525);

			this.addChild(this.text);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(9.3,-8.1,231.4,31.5);


		(lib._1 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#4AB558").s().p("AgjAUQgDAAgCgCQgCgCAAgDIAAgZQAAgCACgCQACgDADAAIBHAAQADAAACADQACACAAACIAAAZQAAADgCACQgCACgDAAgAgbAFIA3AAIAAgJIg3AAg");
			this.shape.setTransform(0,14.5);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#4AB558").s().p("AgjAsQgDAAgCgCQgCgCAAgEIAAhHQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAABHQAAAEgCACQgCACgDAAgAgbAdIA3AAIAAg4Ig3AAg");
			this.shape_1.setTransform(0,12.1);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#4AB558").s().p("AgjBEQgDAAgCgCQgCgCAAgDIAAh5QAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAB5QAAADgCACQgCACgDAAgAgbA1IA3AAIAAhpIg3AAg");
			this.shape_2.setTransform(0,9.6);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("#4AB558").s().p("AgjBcQgDAAgCgCQgCgCAAgDIAAipQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAACpQAAADgCACQgCACgDAAgAgbBNIA3AAIAAiZIg3AAg");
			this.shape_3.setTransform(0,7.2);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("#4AB558").s().p("AgjB0QgDAAgCgCQgCgCAAgDIAAjZQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAADZQAAADgCACQgCACgDAAgAgbBlIA3AAIAAjJIg3AAg");
			this.shape_4.setTransform(0,4.8);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("#4AB558").s().p("AgjCMQgDAAgCgCQgCgCAAgDIAAkJQAAgDACgCQACgCADgBIBHAAQADABACACQACACAAADIAAEJQAAADgCACQgCACgDAAgAgbB+IA3AAIAAj6Ig3AAg");
			this.shape_5.setTransform(0,2.4);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("#4AB558").s().p("AgjCkQgDAAgCgCQgCgCAAgDIAAk5QAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAE5QAAADgCACQgCACgDAAgAgbCWIA3AAIAAkqIg3AAg");

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#4AB558").s().p("AgjCYQgDAAgCgCQgCgCAAgDIAAkgQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEgQAAADgCACQgCACgDAAgAgbCJIA3AAIAAkQIg3AAg");
			this.shape_7.setTransform(0,1.3);

			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("#4AB558").s().p("AgjCLQgDAAgCgCQgCgCAAgDIAAkHQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEHQAAADgCACQgCACgDAAgAgbB9IA3AAIAAj4Ig3AAg");
			this.shape_8.setTransform(0,2.5);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("#4AB558").s().p("AgjB/QgDAAgCgCQgCgCAAgDIAAjvQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAADvQAAADgCACQgCACgDAAgAgbBwIA3AAIAAjfIg3AAg");
			this.shape_9.setTransform(0,3.8);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("#4AB558").s().p("AgjByQgDAAgCgCQgCgCAAgDIAAjVQAAgDACgCQACgDADABIBHAAQADgBACADQACACAAADIAADVQAAADgCACQgCACgDAAgAgbBkIA3AAIAAjGIg3AAg");
			this.shape_10.setTransform(0,5);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("#4AB558").s().p("AgjBmQgDAAgCgCQgCgCAAgDIAAi8QAAgEACgCQACgCADAAIBHAAQADAAACACQACACAAAEIAAC8QAAADgCACQgCACgDAAgAgbBXIA3AAIAAisIg3AAg");
			this.shape_11.setTransform(0,6.3);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("#4AB558").s().p("AgjBZQgDAAgCgCQgCgCAAgDIAAijQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAACjQAAADgCACQgCACgDAAgAgbBLIA3AAIAAiUIg3AAg");
			this.shape_12.setTransform(0,7.5);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("#4AB558").s().p("AgjBNQgDAAgCgCQgCgCAAgDIAAiLQAAgDACgBQACgDADAAIBHAAQADAAACADQACABAAADIAACLQAAADgCACQgCACgDAAgAgbA+IA3AAIAAh7Ig3AAg");
			this.shape_13.setTransform(0,8.8);

			this.shape_14 = new cjs.Shape();
			this.shape_14.graphics.f("#4AB558").s().p("AgjBAQgDAAgCgCQgCgCAAgDIAAhxQAAgDACgCQACgDADABIBHAAQADgBACADQACACAAADIAABxQAAADgCACQgCACgDAAgAgbAyIA3AAIAAhiIg3AAg");
			this.shape_14.setTransform(0,10);
			this.shape_14._off = true;

			this.shape_15 = new cjs.Shape();
			this.shape_15.graphics.f("#4AB558").s().p("AgjBUQgDAAgCgCQgCgCAAgDIAAiZQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAACZQAAADgCACQgCACgDAAgAgbBGIA3AAIAAiKIg3AAg");
			this.shape_15.setTransform(0,8);

			this.shape_16 = new cjs.Shape();
			this.shape_16.graphics.f("#4AB558").s().p("AgjBoQgDAAgCgCQgCgCAAgDIAAjBQAAgDACgCQACgCADgBIBHAAQADABACACQACACAAADIAADBQAAADgCACQgCACgDAAgAgbBaIA3AAIAAiyIg3AAg");
			this.shape_16.setTransform(0,6);

			this.shape_17 = new cjs.Shape();
			this.shape_17.graphics.f("#4AB558").s().p("AgjB8QgDAAgCgCQgCgCAAgDIAAjpQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAADpQAAADgCACQgCACgDAAgAgbBuIA3AAIAAjaIg3AAg");
			this.shape_17.setTransform(0,4);

			this.shape_18 = new cjs.Shape();
			this.shape_18.graphics.f("#4AB558").s().p("AgjCQQgDAAgCgCQgCgCAAgDIAAkRQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAERQAAADgCACQgCACgDAAgAgbCCIA3AAIAAkCIg3AAg");
			this.shape_18.setTransform(0,2);

			this.shape_19 = new cjs.Shape();
			this.shape_19.graphics.f("#4AB558").s().p("AgjCcQgDAAgCgCQgCgCAAgDIAAkpQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAEpQAAADgCACQgCACgDAAgAgbCNIA3AAIAAkZIg3AAg");
			this.shape_19.setTransform(0,0.8);

			this.shape_20 = new cjs.Shape();
			this.shape_20.graphics.f("#4AB558").s().p("AgjCUQgDAAgCgCQgCgCAAgDIAAkZQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAEZQAAADgCACQgCACgDAAgAgbCFIA3AAIAAkJIg3AAg");
			this.shape_20.setTransform(0,1.6);

			this.shape_21 = new cjs.Shape();
			this.shape_21.graphics.f("#4AB558").s().p("AgjCMQgDAAgCgCQgCgCAAgDIAAkJQAAgDACgCQACgCADAAIBHAAQADAAACACQACADAAACIAAEJQAAADgCACQgCACgDAAgAgbB9IA3AAIAAj5Ig3AAg");
			this.shape_21.setTransform(0,2.5);

			this.shape_22 = new cjs.Shape();
			this.shape_22.graphics.f("#4AB558").s().p("AgjCEQgDAAgCgCQgCgCAAgDIAAj5QAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAD5QAAADgCACQgCACgDAAgAgbB1IA3AAIAAjpIg3AAg");
			this.shape_22.setTransform(0,3.3);

			this.shape_23 = new cjs.Shape();
			this.shape_23.graphics.f("#4AB558").s().p("AgjB8QgDAAgCgCQgCgCAAgEIAAjnQAAgEACgCQACgCADAAIBHAAQADAAACACQACADAAADIAADnQAAAEgCACQgCACgDAAgAgbBtIA3AAIAAjYIg3AAg");
			this.shape_23.setTransform(0,4.1);

			this.shape_24 = new cjs.Shape();
			this.shape_24.graphics.f("#4AB558").s().p("AgjB0QgDAAgCgCQgCgCAAgEIAAjXQAAgEACgCQACgCADAAIBHAAQADAAACACQACADAAADIAADXQAAAEgCACQgCACgDAAgAgbBlIA3AAIAAjIIg3AAg");
			this.shape_24.setTransform(0,4.9);

			this.shape_25 = new cjs.Shape();
			this.shape_25.graphics.f("#4AB558").s().p("AgjBrQgDAAgCgCQgCgCAAgDIAAjHQAAgEACgBQACgDADAAIBHAAQADAAACADQACACAAADIAADHQAAADgCACQgCACgDAAgAgbBdIA3AAIAAi4Ig3AAg");
			this.shape_25.setTransform(0,5.7);

			this.shape_26 = new cjs.Shape();
			this.shape_26.graphics.f("#4AB558").s().p("AgjBjQgDAAgCgCQgCgCAAgDIAAi3QAAgEACgCQACgCADAAIBHAAQADAAACACQACADAAADIAAC3QAAADgCACQgCACgDAAgAgbBVIA3AAIAAioIg3AAg");
			this.shape_26.setTransform(0,6.5);

			this.shape_27 = new cjs.Shape();
			this.shape_27.graphics.f("#4AB558").s().p("AgjCZQgDAAgCgCQgCgCAAgDIAAkjQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEjQAAADgCACQgCACgDAAgAgbCLIA3AAIAAkUIg3AAg");
			this.shape_27.setTransform(0,1.1);

			this.shape_28 = new cjs.Shape();
			this.shape_28.graphics.f("#4AB558").s().p("AgjCOQgDAAgCgCQgCgCAAgDIAAkNQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAENQAAADgCACQgCACgDAAgAgbCAIA3AAIAAj+Ig3AAg");
			this.shape_28.setTransform(0,2.2);

			this.shape_29 = new cjs.Shape();
			this.shape_29.graphics.f("#4AB558").s().p("AgjCDQgDAAgCgCQgCgCAAgDIAAj3QAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAD3QAAADgCACQgCACgDAAgAgbB1IA3AAIAAjoIg3AAg");
			this.shape_29.setTransform(0,3.3);

			this.shape_30 = new cjs.Shape();
			this.shape_30.graphics.f("#4AB558").s().p("AgjB4QgDAAgCgCQgCgCAAgDIAAjhQAAgDACgCQACgCADgBIBHAAQADABACACQACACAAADIAADhQAAADgCACQgCACgDAAgAgbBqIA3AAIAAjSIg3AAg");
			this.shape_30.setTransform(0,4.4);

			this.shape_31 = new cjs.Shape();
			this.shape_31.graphics.f("#4AB558").s().p("AgjBtQgDAAgCgCQgCgCAAgDIAAjLQAAgDACgDQACgBADAAIBHAAQADAAACABQACADAAADIAADLQAAADgCACQgCACgDAAgAgbBfIA3AAIAAi8Ig3AAg");
			this.shape_31.setTransform(0,5.5);

			this.shape_32 = new cjs.Shape();
			this.shape_32.graphics.f("#4AB558").s().p("AgjBiQgDAAgCgCQgCgCAAgDIAAi1QAAgEACgBQACgDADAAIBHAAQADAAACADQACACAAADIAAC1QAAADgCACQgCACgDAAgAgbBUIA3AAIAAimIg3AAg");
			this.shape_32.setTransform(0,6.6);

			this.shape_33 = new cjs.Shape();
			this.shape_33.graphics.f("#4AB558").s().p("AgjBXQgDAAgCgCQgCgCAAgDIAAifQAAgDACgDQACgBADAAIBHAAQADAAACABQACADAAADIAACfQAAADgCACQgCACgDAAgAgbBJIA3AAIAAiQIg3AAg");
			this.shape_33.setTransform(0,7.7);

			this.shape_34 = new cjs.Shape();
			this.shape_34.graphics.f("#4AB558").s().p("AgjBMQgDAAgCgCQgCgCAAgDIAAiJQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAACJQAAADgCACQgCACgDAAgAgbA+IA3AAIAAh6Ig3AAg");
			this.shape_34.setTransform(0,8.8);

			this.shape_35 = new cjs.Shape();
			this.shape_35.graphics.f("#4AB558").s().p("AgjBBQgDAAgCgCQgCgCAAgDIAAhzQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAABzQAAADgCACQgCACgDAAgAgbAzIA3AAIAAhkIg3AAg");
			this.shape_35.setTransform(0,9.9);

			this.shape_36 = new cjs.Shape();
			this.shape_36.graphics.f("#4AB558").s().p("AgjA2QgDAAgCgCQgCgCAAgDIAAhdQAAgEACgCQACgCADAAIBHAAQADAAACACQACADAAADIAABdQAAADgCACQgCACgDAAgAgbAoIA3AAIAAhOIg3AAg");
			this.shape_36.setTransform(0,11);

			this.shape_37 = new cjs.Shape();
			this.shape_37.graphics.f("#4AB558").s().p("AgjCfQgDAAgCgCQgCgCAAgDIAAkvQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAEvQAAADgCACQgCACgDAAgAgbCQIA3AAIAAkfIg3AAg");
			this.shape_37.setTransform(0,0.5);

			this.shape_38 = new cjs.Shape();
			this.shape_38.graphics.f("#4AB558").s().p("AgjCaQgDAAgCgCQgCgCAAgEIAAkjQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEjQAAAEgCACQgCACgDAAgAgbCLIA3AAIAAkUIg3AAg");
			this.shape_38.setTransform(0,1.1);

			this.shape_39 = new cjs.Shape();
			this.shape_39.graphics.f("#4AB558").s().p("AgjCUQgDAAgCgCQgCgCAAgDIAAkZQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEZQAAADgCACQgCACgDAAgAgbCGIA3AAIAAkKIg3AAg");
			this.shape_39.setTransform(0,1.6);

			this.shape_40 = new cjs.Shape();
			this.shape_40.graphics.f("#4AB558").s().p("AgjCPQgDAAgCgCQgCgCAAgDIAAkOQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEOQAAADgCACQgCACgDAAgAgbCAIA3AAIAAj+Ig3AAg");
			this.shape_40.setTransform(0,2.2);

			this.shape_41 = new cjs.Shape();
			this.shape_41.graphics.f("#4AB558").s().p("AgjCKQgDAAgCgCQgCgCAAgEIAAkDQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAAEDQAAAEgCACQgCACgDAAgAgbB7IA3AAIAAj0Ig3AAg");
			this.shape_41.setTransform(0,2.7);

			this.shape_42 = new cjs.Shape();
			this.shape_42.graphics.f("#4AB558").s().p("AgjCEQgDAAgCgCQgCgCAAgDIAAj5QAAgDACgCQACgDADABIBHAAQADgBACADQACACAAADIAAD5QAAADgCACQgCACgDAAgAgbB2IA3AAIAAjqIg3AAg");
			this.shape_42.setTransform(0,3.2);

			this.shape_43 = new cjs.Shape();
			this.shape_43.graphics.f("#4AB558").s().p("AgjB6QgDAAgCgCQgCgCAAgEIAAjjQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAADjQAAAEgCACQgCACgDAAgAgbBrIA3AAIAAjUIg3AAg");
			this.shape_43.setTransform(0,4.3);

			this.shape_44 = new cjs.Shape();
			this.shape_44.graphics.f("#4AB558").s().p("AgjBvQgDAAgCgCQgCgCAAgDIAAjOQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAADOQAAADgCACQgCACgDAAgAgbBgIA3AAIAAi+Ig3AAg");
			this.shape_44.setTransform(0,5.4);

			this.shape_45 = new cjs.Shape();
			this.shape_45.graphics.f("#4AB558").s().p("AgjBqQgDAAgCgCQgCgCAAgEIAAjDQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAADDQAAAEgCACQgCACgDAAgAgbBbIA3AAIAAi0Ig3AAg");
			this.shape_45.setTransform(0,5.9);

			this.shape_46 = new cjs.Shape();
			this.shape_46.graphics.f("#4AB558").s().p("AgjBkQgDAAgCgCQgCgCAAgDIAAi5QAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAC5QAAADgCACQgCACgDAAgAgbBVIA3AAIAAipIg3AAg");
			this.shape_46.setTransform(0,6.4);

			this.shape_47 = new cjs.Shape();
			this.shape_47.graphics.f("#4AB558").s().p("AgjBfQgDAAgCgCQgCgCAAgDIAAivQAAgDACgBQACgDADAAIBHAAQADAAACADQACABAAADIAACvQAAADgCACQgCACgDAAgAgbBQIA3AAIAAifIg3AAg");
			this.shape_47.setTransform(0,7);

			this.shape_48 = new cjs.Shape();
			this.shape_48.graphics.f("#4AB558").s().p("AgjBUQgDAAgCgCQgCgCAAgDIAAiZQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAACZQAAADgCACQgCACgDAAgAgbBFIA3AAIAAiJIg3AAg");
			this.shape_48.setTransform(0,8);

			this.shape_49 = new cjs.Shape();
			this.shape_49.graphics.f("#4AB558").s().p("AgjBPQgDAAgCgCQgCgCAAgEIAAiNQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAACNQAAAEgCACQgCACgDAAgAgbBAIA3AAIAAh+Ig3AAg");
			this.shape_49.setTransform(0,8.6);

			this.shape_50 = new cjs.Shape();
			this.shape_50.graphics.f("#4AB558").s().p("AgjBJQgDAAgCgCQgCgCAAgDIAAiDQAAgDACgCQACgDADABIBHAAQADgBACADQACACAAADIAACDQAAADgCACQgCACgDAAgAgbA7IA3AAIAAh0Ig3AAg");
			this.shape_50.setTransform(0,9.1);

			this.shape_51 = new cjs.Shape();
			this.shape_51.graphics.f("#4AB558").s().p("AgjA/QgDAAgCgCQgCgCAAgEIAAhtQAAgDACgDQACgCADAAIBHAAQADAAACACQACADAAADIAABtQAAAEgCACQgCACgDAAgAgbAwIA3AAIAAheIg3AAg");
			this.shape_51.setTransform(0,10.2);

			this.shape_52 = new cjs.Shape();
			this.shape_52.graphics.f("#4AB558").s().p("AgjA5QgDAAgCgCQgCgCAAgDIAAhjQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAABjQAAADgCACQgCACgDAAgAgbArIA3AAIAAhUIg3AAg");
			this.shape_52.setTransform(0,10.7);

			this.shape_53 = new cjs.Shape();
			this.shape_53.graphics.f("#4AB558").s().p("AgjA0QgDAAgCgCQgCgCAAgDIAAhZQAAgCACgDQACgCADAAIBHAAQADAAACACQACADAAACIAABZQAAADgCACQgCACgDAAgAgbAlIA3AAIAAhIIg3AAg");
			this.shape_53.setTransform(0,11.3);

			this.shape_54 = new cjs.Shape();
			this.shape_54.graphics.f("#4AB558").s().p("AgjAvQgDAAgCgCQgCgCAAgEIAAhNQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAABNQAAAEgCACQgCACgDAAgAgbAgIA3AAIAAg+Ig3AAg");
			this.shape_54.setTransform(0,11.8);

			this.shape_55 = new cjs.Shape();
			this.shape_55.graphics.f("#4AB558").s().p("AgjApQgDAAgCgCQgCgCAAgDIAAhDQAAgDACgCQACgCADgBIBHAAQADABACACQACACAAADIAABDQAAADgCACQgCACgDAAgAgbAbIA3AAIAAg0Ig3AAg");
			this.shape_55.setTransform(0,12.3);

			this.shape_56 = new cjs.Shape();
			this.shape_56.graphics.f("#4AB558").s().p("AgjAkQgDAAgCgCQgCgCAAgDIAAg4QAAgEACgCQACgCADAAIBHAAQADAAACACQACACAAAEIAAA4QAAADgCACQgCACgDAAgAgbAVIA3AAIAAgpIg3AAg");
			this.shape_56.setTransform(0,12.9);

			this.shape_57 = new cjs.Shape();
			this.shape_57.graphics.f("#4AB558").s().p("AgjAfQgDAAgCgCQgCgCAAgEIAAgtQAAgDACgCQACgDADAAIBHAAQADAAACADQACACAAADIAAAtQAAAEgCACQgCACgDAAgAgbAQIA3AAIAAgeIg3AAg");
			this.shape_57.setTransform(0,13.4);

			this.shape_58 = new cjs.Shape();
			this.shape_58.graphics.f("#4AB558").s().p("AgjAZQgDAAgCgCQgCgCAAgDIAAgjQAAgDACgCQACgCADAAIBHAAQADAAACACQACACAAADIAAAjQAAADgCACQgCACgDAAgAgbAKIA3AAIAAgTIg3AAg");
			this.shape_58.setTransform(0,13.9);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape}]}).to({state:[{t:this.shape_1}]},1).to({state:[{t:this.shape_2}]},1).to({state:[{t:this.shape_3}]},1).to({state:[{t:this.shape_4}]},1).to({state:[{t:this.shape_5}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_7}]},1).to({state:[{t:this.shape_8}]},1).to({state:[{t:this.shape_9}]},1).to({state:[{t:this.shape_10}]},1).to({state:[{t:this.shape_11}]},1).to({state:[{t:this.shape_12}]},1).to({state:[{t:this.shape_13}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_14}]},1).to({state:[{t:this.shape_15}]},1).to({state:[{t:this.shape_16}]},1).to({state:[{t:this.shape_17}]},1).to({state:[{t:this.shape_18}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_19}]},1).to({state:[{t:this.shape_20}]},1).to({state:[{t:this.shape_21}]},1).to({state:[{t:this.shape_22}]},1).to({state:[{t:this.shape_23}]},1).to({state:[{t:this.shape_24}]},1).to({state:[{t:this.shape_25}]},1).to({state:[{t:this.shape_26}]},1).to({state:[{t:this.shape_25}]},1).to({state:[{t:this.shape_24}]},1).to({state:[{t:this.shape_23}]},1).to({state:[{t:this.shape_22}]},1).to({state:[{t:this.shape_21}]},1).to({state:[{t:this.shape_20}]},1).to({state:[{t:this.shape_19}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_27}]},1).to({state:[{t:this.shape_28}]},1).to({state:[{t:this.shape_29}]},1).to({state:[{t:this.shape_30}]},1).to({state:[{t:this.shape_31}]},1).to({state:[{t:this.shape_32}]},1).to({state:[{t:this.shape_33}]},1).to({state:[{t:this.shape_34}]},1).to({state:[{t:this.shape_35}]},1).to({state:[{t:this.shape_36}]},1).to({state:[{t:this.shape_35}]},1).to({state:[{t:this.shape_34}]},1).to({state:[{t:this.shape_33}]},1).to({state:[{t:this.shape_32}]},1).to({state:[{t:this.shape_31}]},1).to({state:[{t:this.shape_30}]},1).to({state:[{t:this.shape_29}]},1).to({state:[{t:this.shape_28}]},1).to({state:[{t:this.shape_27}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_37}]},1).to({state:[{t:this.shape_38}]},1).to({state:[{t:this.shape_39}]},1).to({state:[{t:this.shape_40}]},1).to({state:[{t:this.shape_41}]},1).to({state:[{t:this.shape_42}]},1).to({state:[{t:this.shape_9}]},1).to({state:[{t:this.shape_43}]},1).to({state:[{t:this.shape_4}]},1).to({state:[{t:this.shape_44}]},1).to({state:[{t:this.shape_45}]},1).to({state:[{t:this.shape_46}]},1).to({state:[{t:this.shape_47}]},1).to({state:[{t:this.shape_12}]},1).to({state:[{t:this.shape_48}]},1).to({state:[{t:this.shape_49}]},1).to({state:[{t:this.shape_50}]},1).to({state:[{t:this.shape_2}]},1).to({state:[{t:this.shape_51}]},1).to({state:[{t:this.shape_52}]},1).to({state:[{t:this.shape_53}]},1).to({state:[{t:this.shape_54}]},1).to({state:[{t:this.shape_55}]},1).to({state:[{t:this.shape_56}]},1).to({state:[{t:this.shape_57}]},1).to({state:[{t:this.shape_58}]},1).to({state:[{t:this.shape}]},1).wait(17));
			this.timeline.addTween(cjs.Tween.get(this.shape_14).wait(14).to({_off:false},0).wait(4).to({_off:true},1).wait(84));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-4.3,12.4,8.8,4.1);


		(lib.ponteiro2 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 1
			this.instance = new lib.ponteiro();
			this.instance.setTransform(0,6.3);

			this.timeline.addTween(cjs.Tween.get(this.instance).to({rotation:180,y:6.8},38).to({rotation:357,y:6.9},44).wait(1));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-1,-7.7,2,15.5);


		(lib.ponteiro1 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 1
			this.instance = new lib.ponteiro();
			this.instance.setTransform(-5.1,0,1,0.826,90);

			this.timeline.addTween(cjs.Tween.get(this.instance).to({rotation:266.8,x:-5.5},26).to({rotation:443.8,x:-5.6},26).wait(1));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-6.3,-1,12.8,2);


		(lib.circuloplay = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// Layer 3 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("ApHVmQkNhyjPjQQjQjPhykNQh1kXgBkxQABkwB1kXQBykNDQjPQDPjQENhyQEXh1EwgBQExABEXB1QENByDPDQQDQDPByENQB1EXABEwQgBExh1EXQhyENjQDPQjPDQkNByQkXB1kxABQkwgBkXh1gAnhyLQjmBfizCyQiyCzhfDmQhgDmAAD7QAAD8BgDmQBfDmCyCyQCzCzDmBfQDmBfD7ABQD8gBDmhfQDmhfCyizQCziyBfjmQBfjmABj8QgBj7hfjmQhfjmizizQiyiyjmhfQjmhgj8AAQj7AAjmBgg");

			// Layer 2
			this.instance = new lib.brilhoplay();
			this.instance.setTransform(0,-0.1);
			this.instance.alpha = 0;

			this.instance.mask = mask;

			this.timeline.addTween(cjs.Tween.get(this.instance).to({scaleX:1,scaleY:1,rotation:52.4,alpha:1},5).to({scaleX:1,scaleY:1,rotation:157},5).to({rotation:262.2},5).to({rotation:332.2,alpha:0},5).wait(40));

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#0094FF").s().p("ApHVmQkNhyjPjQQjQjPhykNQh1kXgBkxQABkwB1kXQBykNDQjPQDPjQENhyQEXh1EwgBQExABEXB1QENByDPDQQDQDPByENQB1EXABEwQgBExh1EXQhyENjQDPQjPDQkNByQkXB1kxABQkwgBkXh1gAnhyLQjmBfizCyQiyCzhfDmQhgDmAAD7QAAD8BgDmQBfDmCyCyQCzCzDmBfQDmBfD7ABQD8gBDmhfQDmhfCyizQCziyBfjmQBfjmABj8QgBj7hfjmQhfjmizizQiyiyjmhfQjmhgj8AAQj7AAjmBgg");

			this.timeline.addTween(cjs.Tween.get(this.shape).wait(60));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-150,-150,300,300);


		(lib.masosdireitos = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_25 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(25).call(this.frame_25).wait(1));

			// Layer 3 copy
			this.instance = new lib.Symbol2copy3();
			this.instance.setTransform(-213.2,42.8);
			this.instance.alpha = 0;
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(8).to({_off:false},0).wait(1).to({regX:-7,regY:-22.8,x:-179.7,y:20,alpha:0.234},0).wait(1).to({x:-144.6,alpha:0.438},0).wait(1).to({x:-115,alpha:0.609},0).wait(1).to({x:-90.7,alpha:0.75},0).wait(1).to({x:-71.8,alpha:0.859},0).wait(1).to({x:-58.3,alpha:0.938},0).wait(1).to({x:-50.2,alpha:0.984},0).wait(1).to({regX:0,regY:0,x:-40.6,y:42.8,alpha:1},0).wait(10));

			// Layer 3
			this.instance_1 = new lib.Symbol2copy2();
			this.instance_1.setTransform(-213.2,-7.6);
			this.instance_1.alpha = 0;
			this.instance_1._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(6).to({_off:false},0).wait(1).to({regX:85.4,regY:-22.8,x:-87.3,y:-30.4,alpha:0.234},0).wait(1).to({x:-52.2,alpha:0.438},0).wait(1).to({x:-22.6,alpha:0.609},0).wait(1).to({x:1.7,alpha:0.75},0).wait(1).to({x:20.6,alpha:0.859},0).wait(1).to({x:34.1,alpha:0.938},0).wait(1).to({x:42.2,alpha:0.984},0).wait(1).to({regX:0,regY:0,x:-40.6,y:-7.6,alpha:1},0).wait(12));

			// Layer 7
			this.instance_2 = new lib.Symbol2copy();
			this.instance_2.setTransform(-213.2,-58.2);
			this.instance_2.alpha = 0;
			this.instance_2._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_2).wait(4).to({_off:false},0).wait(1).to({regX:99.5,regY:-20.2,x:-73.2,y:-78.4,alpha:0.234},0).wait(1).to({x:-38.1,alpha:0.438},0).wait(1).to({x:-8.5,alpha:0.609},0).wait(1).to({x:15.8,alpha:0.75},0).wait(1).to({x:34.7,alpha:0.859},0).wait(1).to({x:48.2,alpha:0.938},0).wait(1).to({x:56.3,alpha:0.984},0).wait(1).to({regX:0,regY:0,x:-40.6,y:-58.2,alpha:1},0).wait(14));

			// Layer 2
			this.instance_3 = new lib.Symbol2();
			this.instance_3.setTransform(-150.6,-110.5);
			this.instance_3.alpha = 0;
			this.instance_3._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_3).wait(2).to({_off:false},0).wait(1).to({regX:43.7,regY:-15.1,x:-81.1,y:-125.6,alpha:0.234},0).wait(1).to({x:-58.7,alpha:0.438},0).wait(1).to({x:-39.8,alpha:0.609},0).wait(1).to({x:-24.4,alpha:0.75},0).wait(1).to({x:-12.3,alpha:0.859},0).wait(1).to({x:-3.7,alpha:0.938},0).wait(1).to({x:1.4,alpha:0.984},0).wait(1).to({regX:0,regY:0,x:-40.6,y:-110.5,alpha:1},0).wait(16));

			// Layer 1
			this.instance_4 = new lib.Symbol1();
			this.instance_4.setTransform(-118.3,-161.5);
			this.instance_4.alpha = 0;

			this.timeline.addTween(cjs.Tween.get(this.instance_4).wait(1).to({regX:65.8,regY:-10,x:-26.7,y:-171.5,alpha:0.234},0).wait(1).to({x:-4.4,alpha:0.438},0).wait(1).to({x:14.5,alpha:0.609},0).wait(1).to({x:30,alpha:0.75},0).wait(1).to({x:42,alpha:0.859},0).wait(1).to({x:50.6,alpha:0.938},0).wait(1).to({x:55.8,alpha:0.984},0).wait(1).to({regX:0,regY:0,x:-8.3,y:-161.5,alpha:1},0).wait(18));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-308.4,-201.1,512.1,59.9);


		(lib.item4 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_13 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(13).call(this.frame_13).wait(1));

			// Layer 5
			this.instance = new lib._1();
			this.instance.setTransform(15.4,0);
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(13).to({_off:false},0).wait(1));

			// Layer 4
			this.instance_1 = new lib._1();
			this.instance_1.setTransform(5.2,0);
			this.instance_1._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(8).to({_off:false},0).wait(6));

			// Layer 3
			this.instance_2 = new lib._1();
			this.instance_2.setTransform(-15.4,0);
			this.instance_2._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_2).wait(5).to({_off:false},0).wait(9));

			// Layer 2
			this.instance_3 = new lib._1();
			this.instance_3.setTransform(-5.2,0);

			this.timeline.addTween(cjs.Tween.get(this.instance_3).wait(14));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-9.6,12.4,8.8,4.1);


		(lib.item3 = function() {
			this.initialize();

			// Layer 4
			this.instance = new lib.ponteiro1();
			this.instance.setTransform(5.5,-0.2);

			// Layer 3
			this.instance_1 = new lib.ponteiro2();
			this.instance_1.setTransform(0.1,-6.8);

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FED43E").s().p("AkDEFQhthtAAiYQAAiXBthsQBshtCXAAQCYAABtBtQBsBsAACXQAACYhsBtQhtBsiYAAQiXAAhshsgAjpjpQhhBhAACIQAACJBhBiQBhBhCIAAQCJAABhhhQBhhiAAiJQAAiIhhhhQhhhhiJAAQiIAAhhBhg");
			this.shape.setTransform(0,0,0.511,0.511);

			this.addChild(this.shape,this.instance_1,this.instance);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-18.9,-18.8,37.8,37.8);


		(lib.item1 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{loop:25});

			// timeline functions:
			this.frame_47 = function() {
				this.gotoAndPlay(34);
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(47).call(this.frame_47).wait(1));

			// Layer 2
			this.instance = new lib.cabeca();
			this.instance.setTransform(143.3,68.1,0.138,0.138,75);
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(2).to({_off:false},0).to({scaleX:1,scaleY:1,rotation:-15,x:97.4,y:44.7},6,cjs.Ease.get(1)).to({rotation:15},3,cjs.Ease.get(-1)).to({rotation:-15},4).to({rotation:0},4).wait(15).to({rotation:-15},4).to({rotation:30},4).to({rotation:0},5).wait(1));

			// Layer 3
			this.instance_1 = new lib.balao();
			this.instance_1.setTransform(68.5,14.7,0.215,0.215,-135);
			this.instance_1._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(12).to({_off:false},0).to({scaleX:1.08,scaleY:1.08,rotation:8.9,x:16,y:26.1},6,cjs.Ease.get(1)).to({scaleX:1,scaleY:1,rotation:0,x:18.2,y:27},4,cjs.Ease.get(-1)).wait(12).to({rotation:15},5).to({rotation:-10.4},4).to({rotation:0},4).wait(1));

			// Layer 1
			this.instance_2 = new lib.corpo();
			this.instance_2.setTransform(97.4,152.8,0.166,0.166);

			this.timeline.addTween(cjs.Tween.get(this.instance_2).to({scaleX:1,scaleY:1,y:99.2},6,cjs.Ease.get(1)).wait(42));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(85,143.7,24.9,18.3);


		(lib.Group = function() {
			this.initialize();

			// Layer 1
			this.instance = new lib.ClipGroup_0();
			this.instance.setTransform(11.9,3.9,1,1,0,0,0,11.9,3.9);

			this.addChild(this.instance);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(0,0,23.9,7.8);


		(lib.ClipGroup_3 = function() {
			this.initialize();

			// Layer 2 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			mask.graphics.p("ApUC6IAAlzISpAAIAAFzg");
			mask.setTransform(59.8,18.6);

			// Layer 3
			this.instance = new lib.Group();
			this.instance.setTransform(57,21.1,1,1,0,0,0,11.9,3.9);

			this.instance.mask = mask;

			this.addChild(this.instance);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(45.1,17.2,23.9,7.8);


		(lib.btnsoundshape1 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// btnsoundshape1_solid
			this.instance = new lib.btnsoundshape1_solid();
			this.instance.setTransform(4.5,6.5,1,1,0,0,0,4.5,6.5);

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(1).to({regY:6.6,scaleX:1.03,scaleY:1.03,y:6.7},0).wait(1).to({scaleX:1.11,scaleY:1.11,x:4.6,y:6.6},0).wait(1).to({scaleX:1.18,scaleY:1.18,x:4.5,y:6.7},0).wait(1).to({regY:6.5,scaleX:1.2,scaleY:1.2,y:6.5},0).wait(1).to({regY:6.6,scaleX:1.17,scaleY:1.17,y:6.7},0).wait(1).to({scaleX:1.09,scaleY:1.09},0).wait(1).to({scaleX:1.02,scaleY:1.02,x:4.6},0).wait(1).to({regY:6.5,scaleX:1,scaleY:1,x:4.5,y:6.5},0).wait(18));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(0,0,8.9,13.2);


		(lib.btnsound = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{play:0,mute:1});

			// timeline functions:
			this.frame_0 = function() {
				this.stop();
			}
			this.frame_1 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).call(this.frame_0).wait(1).call(this.frame_1).wait(1));

			// Layer 3
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#959595").s().p("AAhBBIgoglIgkAAIAAg7IAkAAIAoghIALAAIAACBg");
			this.shape.setTransform(10.5,16);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#959595").s().p("AgiAUIA2g2IAOAPIg1A1g");
			this.shape_1.setTransform(20.9,16);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#959595").s().p("AghgTIAOgOIA2A1IgPAPg");
			this.shape_2.setTransform(21,16);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[]}).to({state:[{t:this.shape_2},{t:this.shape_1},{t:this.shape}]},1).wait(1));

			// Layer 4
			this.instance = new lib.btnsoundshape1();
			this.instance.setTransform(14.5,15.9,1,1,0,0,0,4.5,6.5);

			this.timeline.addTween(cjs.Tween.get(this.instance).to({_off:true},1).wait(1));

			// Layer 5
			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("rgba(0,0,147,0)").s().p("AiZCZIAAkyIEyAAIAAEyg");
			this.shape_3.setTransform(15.4,15.4);

			this.timeline.addTween(cjs.Tween.get(this.shape_3).wait(2));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(0,0,30.8,30.8);


		(lib.bolaazul = function() {
			this.initialize();

			// Layer 1
			this.instance = new lib.ClipGroup_11();
			this.instance.setTransform(3.7,1.9,1.335,1.335,0,0,0,59.8,18.6);

			this.instance_1 = new lib.ClipGroup_1();
			this.instance_1.setTransform(0.1,0,1.335,1.335,0,0,0,4.3,4.3);

			this.addChild(this.instance_1,this.instance);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-76.1,-22.9,159.5,49.7);


		(lib.animacaoimg = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_0 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).call(this.frame_0).wait(1));

			// Layer 1
			this.instance = new lib.img1_1();
			this.instance.setTransform(20.3,-148.8,1,1,0,0,0,0,-148.8);

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-178.2,-297.7,359.8,298);


		(lib.amarelo = function() {
			this.initialize();

			// Layer 2
			this.instance = new lib.bolaazul();
			this.instance.setTransform(3.7,2,1,1,0,0,0,3.6,2);

			// Layer 1
			this.instance_1 = new lib.ClipGroup_2();
			this.instance_1.setTransform(0,-0.4,1.335,1.335,0,0,0,11.9,7.2);

			this.instance_2 = new lib.ClipGroup_3();
			this.instance_2.setTransform(3.7,1.6,1.335,1.335,0,0,0,59.8,18.6);

			this.addChild(this.instance_2,this.instance_1,this.instance);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(-76.1,-23.2,159.6,50);


		(lib.mcplay = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{vai:13});

			// timeline functions:
			this.frame_72 = function() {
				this.gotoAndPlay("vai");
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(72).call(this.frame_72).wait(1));

			// Layer 5
			this.shape = new cjs.Shape();
			this.shape.graphics.f("rgba(255,207,15,0.02)").s().p("ApHVmQkNhyjPjQQjQjPhykNQh1kXgBkxQABkwB1kXQBykNDQjPQDPjQENhyQEXh1EwgBQExABEXB1QENByDPDQQDQDPByENQB1EXABEwQgBExh1EXQhyENjQDPQjPDQkNByQkXB1kxABQkwgBkXh1gAnhyLQjmBfizCyQiyCzhfDmQhgDmAAD7QAAD8BgDmQBfDmCyCyQCzCzDmBfQDmBfD7ABQD8gBDmhfQDmhfCyizQCziyBfjmQBfjmABj8QgBj7hfjmQhfjmizizQiyiyjmhfQjmhgj8AAQj7AAjmBgg");

			this.timeline.addTween(cjs.Tween.get(this.shape).to({_off:true},1).wait(72));

			// Layer 4 (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			var mask_graphics_6 = new cjs.Graphics().p("AtHNIQlclcAAnsQAAnrFclcQFclcHrAAQHsAAFcFcQFcFcAAHrQAAHslcFcQlcFcnsAAQnrAAlclcg");

			this.timeline.addTween(cjs.Tween.get(mask).to({graphics:null,x:0,y:0}).wait(6).to({graphics:mask_graphics_6,x:0,y:0}).wait(67));

			// Layer 2
			this.instance = new lib.play();
			this.instance.setTransform(-187,0);
			this.instance._off = true;

			this.instance.mask = mask;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(6).to({_off:false},0).wait(1).to({x:-133.7},0).wait(1).to({x:-88.7},0).wait(1).to({x:-51.8},0).wait(1).to({x:-23.1},0).wait(1).to({x:-2.6},0).wait(1).to({x:9.7},0).wait(1).to({x:13.8},0).wait(12).to({x:21.6},0).wait(1).to({x:45},0).wait(1).to({x:84.1},0).wait(1).to({x:138.9},0).wait(1).to({x:209.3},0).to({x:-200.8,y:17.8},1,cjs.Ease.get(1)).wait(1).to({x:-135.2,y:12.4},0).wait(1).to({x:-81.5,y:7.9},0).wait(1).to({x:-39.7,y:4.5},0).wait(1).to({x:-9.9,y:2},0).wait(1).to({x:8,y:0.5},0).wait(1).to({x:14,y:0},0).wait(37));

			// Layer 3 (mask)
			var mask_1 = new cjs.Shape();
			mask_1._off = true;
			var mask_1_graphics_0 = new cjs.Graphics().p("AL/gnQAAAngCAoI37hPg");
			var mask_1_graphics_1 = new cjs.Graphics().p("AL/qxQAACTgbCOQgbCNg0CEQg0CChLB4QhLB4hgBpQhgBphzBWQhzBWiCBBIqh1jg");
			var mask_1_graphics_2 = new cjs.Graphics().p("ARQr+QAACEgWCAQgXCBgrB5QgqB6g/BwQg+BvhQBkQhRBlhhBXQhhBXhwBGQhwBGh5AxQh5Ayh7AcQh+AciAAGQiBAHiAgPQiAgOh9glQh9gkh3g6IKh1ig");
			var mask_1_graphics_3 = new cjs.Graphics().p("AX/rJQAACNgZCHQgZCIgwB/QgwCAhFByQhFB1hZBnQhZBohrBWQhrBXh7BEQi6BljIAuQjIAvjKgHQjMgHjFg9QjEg8iyhyQiyhyiJiaQiJiZhci1Qhbi2gpjKQgqjJAPjTIX6Brg");
			var mask_1_graphics_4 = new cjs.Graphics().p("AX/kHQAACrgkCgQgkCihFCUQhECUhiCCQhhCCh7BrQh7BsiRBQQiRBQikAwQj2BHj1gKQj3gLjlhVQjlhWjBiaQjCiaiLjYQhciQg5ibQg5icgWigQgXihAMiiQAMiiAtidQAuidBPiRQBPiSBwiBISFPvg");
			var mask_1_graphics_5 = new cjs.Graphics().p("AX/AAQAACugmClQgmClhHCXQhHCXhlCDQhmCDh/BsQiABriWBOQiWBPipAtQj+BBj6gTQj7gUjmhhQjmhhi+imQi+iniCjkQhWiZgwiiQgxiigMimQgMilAXikQAYikA6icQA6icBciOQBciOB9h7QB9h5CRhZQCQhYCeg2QCeg2CkgTQClgTCkAQQCmARChA0QCgA1CWBaIsWUjg");
			var mask_1_graphics_6 = new cjs.Graphics().p("AX/AAQAADAgtC0QguCzhUChQhVChh3CJQh3CIiUBpQiUBqisBFQisBFi+AaQiPAUiKgHQiMgHiFggQiGgfh8g2Qh9g1hxhLQhxhKhjheQhihdhShvQhRhug+h+Qg9h9gniLQgzi6gFi5QgEi3AmiyQAniyBOijQBOijBziNQByiNCThxQCUhwCwhMQCyhMC2geQC3gdC0AOQC1AOCsA4QCsA3CbBfQCcBeCDCDQCDCDBkClI0kMVg");
			var mask_1_graphics_7 = new cjs.Graphics().p("AX/AAQAADKgyC8QgyC8hdCnQhcCmiCCKQiBCLigBnQigBni4A+Qi5A+jKAOQiWAKiRgTQiSgTiIgtQiJgth8hFQh9hEhuhaQhthahchtQhbhthHh9QhHh9gviLQgviLgUiXQgajIAZjAQAZjBBGixQBGixBuiaQBviaCRh7QCRh8CvhVQCuhWDHgoQDHgnDAAMQDCANC1A6QC2A6CgBkQChBkCFCJQCECJBhCpQBhCoA1DEI3LGMg");
			var mask_1_graphics_8 = new cjs.Graphics().p("AX/AAQgBDSg1DBQg1DChiCqQhjCqiICLQiJCLioBmQipBljAA4QjBA5jSAEQibACiVgbQiVgciKg3QiKg3h7hPQh7hPhrhlQhqhkhVh3QhWh3g+iHQg+iHgjiTQgjiUgGidQgHjQAujDQAvjDBciuQBcitCEiQQCEiQClhrQCkhrC/hAQC+g/DSgLQDQgLDEArQDEArCvBZQCvBaCSCBQCSCCBuCiQBuCjBDC9QBCC+APDRI37Bqg");
			var mask_1_graphics_9 = new cjs.Graphics().p("AX/AAQgBDUg2DEQg2DDhlCsQhkCriMCLQiLCMisBlQirBkjDA2QjEA3jUAAQieAAiWgfQiWgfiKg6QiKg7h7hTQh7hThohpQhphohTh7QhTh7g6iKQg7iKgfiWQgfiWAAifQABjTA2jEQA2jDBlisQBkirCMiLQCLiMCshlQCrhkDDg2QDEg3DTAAQDUAADEA3QDDA2CrBkQCsBlCLCMQCMCLBkCrQBlCsA2DDQA2DEABDTg");

			this.timeline.addTween(cjs.Tween.get(mask_1).to({graphics:mask_1_graphics_0,x:76.8,y:4}).wait(1).to({graphics:mask_1_graphics_1,x:76.8,y:69}).wait(1).to({graphics:mask_1_graphics_2,x:43.1,y:76.8}).wait(1).to({graphics:mask_1_graphics_3,x:0,y:71.5}).wait(1).to({graphics:mask_1_graphics_4,x:0,y:26.4}).wait(1).to({graphics:mask_1_graphics_5,x:0,y:0}).wait(1).to({graphics:mask_1_graphics_6,x:0,y:0}).wait(1).to({graphics:mask_1_graphics_7,x:0,y:0}).wait(1).to({graphics:mask_1_graphics_8,x:0,y:0}).wait(1).to({graphics:mask_1_graphics_9,x:0,y:0}).wait(1).to({graphics:null,x:0,y:0}).wait(63));

			// Layer 1
			this.instance_1 = new lib.circuloplay();

			this.instance_1.mask = mask_1;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(73));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-150,-150,303.6,300);


		(lib.btnAssistaaovideo = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_19 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(19).call(this.frame_19).wait(1));

			// Layer 2
			this.instance = new lib.mcplay();
			this.instance.setTransform(106.8,-9.4,0.121,0.121,0,0,0,3.7,-5.8);
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(19).to({_off:false},0).wait(1));

			// Layer 1
			this.text = new cjs.Text("Assista ao vídeo", "13px 'Gotham Book'", "#0094FF");
			this.text.lineHeight = 15;
			this.text.lineWidth = 106;
			this.text.setTransform(-100,-20.4,1.696,1.696);

			this.timeline.addTween(cjs.Tween.get(this.text).wait(20));

			// Layer 5
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FFFFFF").s().p("A2xEZIAAoxMArlAAAQB+AAAAB/IAAEzQAAB/h+AAg");
			this.shape.setTransform(-5.4,-7.6);

			this.timeline.addTween(cjs.Tween.get(this.shape).wait(20));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-151.3,-35.8,291.8,56.3);


		(lib.brasillogo = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_35 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(35).call(this.frame_35).wait(1));

			// Layer 4
			this.instance = new lib.amarelo();
			this.instance.setTransform(-3.1,-1.4,0.132,0.132,0,0,0,3.8,1.5);

			this.timeline.addTween(cjs.Tween.get(this.instance).to({regX:3.6,regY:1.6,scaleX:2.73,scaleY:2.73,x:5.5,y:2},9,cjs.Ease.get(-1)).to({scaleX:1,scaleY:1,x:0,y:0},11,cjs.Ease.get(1)).wait(16));

			// a
			this.instance_1 = new lib.ClipGroup_4();
			this.instance_1.setTransform(-3.6,0,0.187,0.187,0,0,0,25.4,25.4);
			this.instance_1._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(8).to({_off:false},0).to({scaleX:1.34,scaleY:1.34,y:-0.1},6,cjs.Ease.get(1)).wait(22));

			// R
			this.instance_2 = new lib.ClipGroup_8();
			this.instance_2.setTransform(-19.3,0.1,1.335,1.335,0,0,0,22.7,22.7);
			this.instance_2._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_2).wait(16).to({_off:false},0).to({x:-34.3},7,cjs.Ease.get(1)).wait(13));

			// b
			this.instance_3 = new lib.ClipGroup_9();
			this.instance_3.setTransform(-49.8,0,1.335,1.335,0,0,0,22.7,22.7);
			this.instance_3._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_3).wait(19).to({_off:false},0).to({x:-64.8},7,cjs.Ease.get(1)).wait(10));

			// s
			this.instance_4 = new lib.ClipGroup_5();
			this.instance_4.setTransform(11,-0.1,1.335,1.335,0,0,0,21.9,21.9);
			this.instance_4._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_4).wait(15).to({_off:false},0).to({x:26},5,cjs.Ease.get(1)).wait(16));

			// i
			this.instance_5 = new lib.ClipGroup_7();
			this.instance_5.setTransform(32.3,-0.1,1.335,1.335,0,0,0,10.9,14.1);
			this.instance_5._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_5).wait(18).to({_off:false},0).to({x:47.3},5,cjs.Ease.get(1)).wait(13));

			// L
			this.instance_6 = new lib.ClipGroup_6();
			this.instance_6.setTransform(52,0,1.335,1.335,0,0,0,20.3,20.5);
			this.instance_6._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_6).wait(21).to({_off:false},0).to({x:67},5,cjs.Ease.get(1)).wait(10));

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FFDD3E").s().p("AgECdQgGAAgFgEQgEgEAAgGIAAkcQAAgGAEgEQAFgFAGAAIAJAAQAGAAAFAFQAEAEAAAGIAAEcQAAAGgEAEQgFAEgGAAg");
			this.shape.setTransform(-3.3,-0.1);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#FFDD3E").s().p("Ah2CdQgHAAgFgEQgEgEAAgGIAAkcQAAgGAEgEQAFgFAHAAIDuAAQAGAAAEAFQAFAEAAAGIAAEcQAAAGgFAEQgEAEgGAAg");
			this.shape_1.setTransform(-2.8,-0.1);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#FFDD3E").s().p("AjgCdQgHAAgEgEQgFgEAAgGIAAkcQAAgGAFgEQAEgFAHAAIHCAAQAGAAAEAFQAFAEAAAGIAAEcQAAAGgFAEQgEAEgGAAg");
			this.shape_2.setTransform(-2.4,-0.1);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("#FFDD3E").s().p("AlBCdQgGAAgFgEQgEgEAAgGIAAkcQAAgGAEgEQAFgFAGAAIKDAAQAGAAAFAFQAEAEAAAGIAAEcQAAAGgEAEQgFAEgGAAg");
			this.shape_3.setTransform(-2,-0.1);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("#FFDD3E").s().p("AmYCdQgHAAgEgEQgEgEgBgGIAAkcQABgGAEgEQAEgFAHAAIMyAAQAFAAAFAFQAFAEgBAGIAAEcQABAGgFAEQgFAEgFAAg");
			this.shape_4.setTransform(-1.6,-0.1);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("#FFDD3E").s().p("AnmCdQgHAAgEgEQgEgEgBgGIAAkcQABgGAEgEQAEgFAHAAIPNAAQAHAAAEAFQAEAEAAAGIAAEcQAAAGgEAEQgEAEgHAAg");
			this.shape_5.setTransform(-1.2,-0.1);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("#FFDD3E").s().p("AorCdQgGAAgFgEQgFgEAAgGIAAkcQAAgGAFgEQAFgFAGAAIRYAAQAFAAAFAFQAFAEgBAGIAAEcQABAGgFAEQgFAEgFAAg");
			this.shape_6.setTransform(-1,-0.1);

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#FFDD3E").s().p("ApnCdQgHAAgEgEQgEgEAAgGIAAkcQAAgGAEgEQAEgFAHAAITPAAQAGAAAFAFQAEAEAAAGIAAEcQAAAGgEAEQgFAEgGAAg");
			this.shape_7.setTransform(-0.7,-0.1);

			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("#FFDD3E").s().p("AqZCdQgHAAgEgEQgFgEAAgGIAAkcQAAgGAFgEQAEgFAHAAIU0AAQAGAAAEAFQAFAEAAAGIAAEcQAAAGgFAEQgEAEgGAAg");
			this.shape_8.setTransform(-0.5,-0.1);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("#FFDD3E").s().p("ArDCdQgGAAgFgEQgEgEAAgGIAAkcQAAgGAEgEQAFgFAGAAIWHAAQAGAAAEAFQAFAEAAAGIAAEcQAAAGgFAEQgEAEgGAAg");
			this.shape_9.setTransform(-0.3,-0.1);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("#FFDD3E").s().p("ArjCdQgHAAgEgEQgEgEAAgGIAAkcQAAgGAEgEQAEgFAHAAIXHAAQAGAAAFAFQAEAEAAAGIAAEcQAAAGgEAEQgFAEgGAAg");
			this.shape_10.setTransform(-0.2,-0.1);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("#FFDD3E").s().p("Ar6CdQgHAAgEgEQgEgEAAgGIAAkcQAAgGAEgEQAEgFAHAAIX1AAQAGAAAFAFQAEAEAAAGIAAEcQAAAGgEAEQgFAEgGAAg");
			this.shape_11.setTransform(-0.1,-0.1);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("#FFDD3E").s().p("AsHCdQgHAAgEgEQgFgEAAgGIAAkcQAAgGAFgEQAEgFAHAAIYQAAQAGAAAEAFQAFAEAAAGIAAEcQAAAGgFAEQgEAEgGAAg");
			this.shape_12.setTransform(-0.1,-0.1);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("#FFDD3E").s().p("AsMCdQgHAAgEgEQgEgEAAgGIAAkcQAAgGAEgEQAEgFAHAAIYZAAQAHAAAEAFQAEAEABAGIAAEcQgBAGgEAEQgEAEgHAAg");
			this.shape_13.setTransform(0,-0.1);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[]}).to({state:[{t:this.shape}]},11).to({state:[{t:this.shape_1}]},1).to({state:[{t:this.shape_2}]},1).to({state:[{t:this.shape_3}]},1).to({state:[{t:this.shape_4}]},1).to({state:[{t:this.shape_5}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_7}]},1).to({state:[{t:this.shape_8}]},1).to({state:[{t:this.shape_9}]},1).to({state:[{t:this.shape_10}]},1).to({state:[{t:this.shape_11}]},1).to({state:[{t:this.shape_12}]},1).to({state:[{t:this.shape_13}]},1).wait(12));

			// governo federal
			this.instance_7 = new lib.governofederal();
			this.instance_7.setTransform(-0.1,-11.9);
			this.instance_7._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_7).wait(26).to({_off:false},0).to({y:-21.1},5,cjs.Ease.get(1)).to({y:-21.9},2).wait(3));

			// patria educadora
			this.instance_8 = new lib.patriaeducadora();
			this.instance_8.setTransform(0,11.1);
			this.instance_8._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_8).wait(26).to({_off:false},0).to({y:20.3},5,cjs.Ease.get(1)).to({y:21.1},2).wait(3));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-13.7,-4.6,21,6.6);


		(lib._3 = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_28 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(28).call(this.frame_28).wait(30));

			// Clique aqui e saiba mais.
			this.instance = new lib.Cliqueaquiesaibamais();
			this.instance.setTransform(249.5,301.4,1,1,0,0,0,130.2,11.9);
			this.instance.alpha = 0;
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(14).to({_off:false},0).wait(1).to({regX:124.9,regY:9.1,x:244.2,y:298.6,alpha:0.138},0).wait(1).to({alpha:0.265},0).wait(1).to({alpha:0.383},0).wait(1).to({alpha:0.49},0).wait(1).to({alpha:0.587},0).wait(1).to({alpha:0.673},0).wait(1).to({alpha:0.75},0).wait(1).to({alpha:0.816},0).wait(1).to({alpha:0.872},0).wait(1).to({alpha:0.918},0).wait(1).to({alpha:0.954},0).wait(1).to({alpha:0.98},0).wait(1).to({alpha:0.995},0).wait(1).to({regX:130.2,regY:11.9,x:249.5,y:301.4,alpha:1},0).to({_off:true},1).wait(29));

			// Layer 7
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#FFFFFF").s().p("AgiDuQhjAAAAhkIAAkTQAAhkBjAAIBLAAQBeADAABhIAAETQAABhheADg");
			this.shape.setTransform(128.6,297.8);

			this.shape_1 = new cjs.Shape();
			this.shape_1.graphics.f("#FFFFFF").s().p("AjJDtQhkAAAAhkIAAkRQAAhkBkAAIGZAAQBeADAABhIAAERQAABhheADg");
			this.shape_1.setTransform(145.3,297.7);

			this.shape_2 = new cjs.Shape();
			this.shape_2.graphics.f("#FFFFFF").s().p("AlkDsQhjAAAAhkIAAkPQAAhkBjAAILPAAQBdADAABhIAAEPQAABhhdADg");
			this.shape_2.setTransform(160.8,297.6);

			this.shape_3 = new cjs.Shape();
			this.shape_3.graphics.f("#FFFFFF").s().p("AnyDrQhkABAAhlIAAkOQAAhjBkAAIPrAAQBeADAABgIAAEOQAABhheADg");
			this.shape_3.setTransform(175,297.6);

			this.shape_4 = new cjs.Shape();
			this.shape_4.graphics.f("#FFFFFF").s().p("Ap0DrQhkAAAAhkIAAkNQAAhkBkAAITvAAQBeADAABhIAAENQAABhheADg");
			this.shape_4.setTransform(188.1,297.5);

			this.shape_5 = new cjs.Shape();
			this.shape_5.graphics.f("#FFFFFF").s().p("ArqDqQhjAAAAhkIAAkLQAAhkBjAAIXbAAQBdADAABhIAAELQAABhhdADg");
			this.shape_5.setTransform(199.8,297.4);

			this.shape_6 = new cjs.Shape();
			this.shape_6.graphics.f("#FFFFFF").s().p("AtTDqQhkgBAAhjIAAkLQAAhjBkAAIatAAQBeADAABgIAAELQAABhheADg");
			this.shape_6.setTransform(210.3,297.4);

			this.shape_7 = new cjs.Shape();
			this.shape_7.graphics.f("#FFFFFF").s().p("AuwDpQhkAAAAhkIAAkJQAAhkBkAAIdnAAQBeADAABhIAAEJQAABhheADg");
			this.shape_7.setTransform(219.6,297.3);

			this.shape_8 = new cjs.Shape();
			this.shape_8.graphics.f("#FFFFFF").s().p("AwADpQhkAAAAhkIAAkJQAAhjBkAAMAgHAAAQBeADAABgIAAEJQAABgheAEg");
			this.shape_8.setTransform(227.7,297.3);

			this.shape_9 = new cjs.Shape();
			this.shape_9.graphics.f("#FFFFFF").s().p("AxEDoQhkAAAAhkIAAkHQAAhkBkAAMAiQAAAQBdADAABhIAAEHQAABhhdADg");
			this.shape_9.setTransform(234.5,297.2);

			this.shape_10 = new cjs.Shape();
			this.shape_10.graphics.f("#FFFFFF").s().p("Ax8DoQhkAAAAhkIAAkHQAAhkBkAAMAkAAAAQBdADAABhIAAEHQAABhhdADg");
			this.shape_10.setTransform(240.1,297.2);

			this.shape_11 = new cjs.Shape();
			this.shape_11.graphics.f("#FFFFFF").s().p("AynDnQhkABAAhlIAAkGQAAhjBkAAMAlWAAAQBdADAABgIAAEGQAABihdACg");
			this.shape_11.setTransform(244.4,297.2);

			this.shape_12 = new cjs.Shape();
			this.shape_12.graphics.f("#FFFFFF").s().p("AzGDnQhkABAAhlIAAkGQAAhjBkAAMAmUAAAQBdADAABgIAAEGQAABihdACg");
			this.shape_12.setTransform(247.5,297.2);

			this.shape_13 = new cjs.Shape();
			this.shape_13.graphics.f("#FFFFFF").s().p("AzZDnQhkAAAAhkIAAkFQAAhkBkAAMAm5AAAQBeADAABhIAAEFQAABhheADg");
			this.shape_13.setTransform(249.3,297.1);

			this.shape_14 = new cjs.Shape();
			this.shape_14.graphics.f("#FFFFFF").s().p("AzfDnQhkAAAAhkIAAkFQAAhkBkAAMAnGAAAQBdADAABhIAAEFQAABhhdADg");
			this.shape_14.setTransform(250,297.1);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[]}).to({state:[{t:this.shape}]},8).to({state:[{t:this.shape_1}]},1).to({state:[{t:this.shape_2}]},1).to({state:[{t:this.shape_3}]},1).to({state:[{t:this.shape_4}]},1).to({state:[{t:this.shape_5}]},1).to({state:[{t:this.shape_6}]},1).to({state:[{t:this.shape_7}]},1).to({state:[{t:this.shape_8}]},1).to({state:[{t:this.shape_9}]},1).to({state:[{t:this.shape_10}]},1).to({state:[{t:this.shape_11}]},1).to({state:[{t:this.shape_12}]},1).to({state:[{t:this.shape_13}]},1).to({state:[{t:this.shape_14}]},1).to({state:[]},7).wait(29));

			// brasil logo
			this.instance_1 = new lib.brasillogo();
			this.instance_1.setTransform(250.5,164.5,1.583,1.583,0,0,0,-0.7,-0.1);

			this.timeline.addTween(cjs.Tween.get(this.instance_1).to({_off:true},29).wait(29));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(20.3,-1.8,458.9,382.4);


		(lib.assinatura = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_3 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(3).call(this.frame_3).wait(1));

			// Layer 5
			this.instance = new lib._3();
			this.instance.setTransform(250.3,198.5,1.104,1.104,0,0,0,250,200);

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(4));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(228,151.3,36.9,11.6);


		(lib.telavideo = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_10 = function() {
				var scope = this;
				this.stop();
				htmlVideo(function() {
					scope.play();
					htmlVideoHide();
				});
			}
			this.frame_28 = function() {
				this.stop();
			}
			
			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).wait(10).call(this.frame_10).wait(18).call(this.frame_28).wait(1));

			// assinatura
			this.instance = new lib.assinatura();
			this.instance.setTransform(20.5,-132.7,0.704,0.704,0,0,0,250.1,200);
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(16).to({_off:false},0).wait(13));

			// mascara (mask)
			var mask = new cjs.Shape();
			mask._off = true;
			var mask_graphics_10 = new cjs.Graphics().p("A5rViMAAAgrDMAzXAAAMAAAArDg");

			this.timeline.addTween(cjs.Tween.get(mask).to({graphics:null,x:0,y:0}).wait(10).to({graphics:mask_graphics_10,x:20.4,y:-141.7}).wait(6).to({graphics:null,x:0,y:0}).wait(13));

			// btnsound
			this.sound = new lib.btnsound();
			this.sound.setTransform(150.1,-250.7,1.695,1.695,0,0,0,13.7,13.7);
			this.sound.shadow = new cjs.Shadow("rgba(51,51,51,1)",0,0,2);
			this.sound._off = true;

			this.sound.mask = mask;

			this.timeline.addTween(cjs.Tween.get(this.sound).wait(10).to({_off:false},0).to({_off:true},6).wait(13));

			// Layer 1
			this.shape = new cjs.Shape();
			this.shape.graphics.f("#000000").s().p("A5rViMAAAgrDMAzXAAAMAAAArDg");
			this.shape.setTransform(20.4,-141.7);

			this.timeline.addTween(cjs.Tween.get(this.shape).wait(15).to({y:-138.1},0).wait(1).to({y:-127.3},0).wait(1).to({y:-109.3},0).wait(1).to({y:-84.2},0).wait(1).to({y:-51.8},0).wait(1).to({y:-12.3},0).wait(1).to({y:34.4},0).wait(1).to({y:88.3},0).wait(1).to({y:149.4},0).to({_off:true},1).wait(5));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-144.1,-279.5,329,275.8);


		(lib.conteudo = function(mode,startPosition,loop) {
			this.initialize(mode,startPosition,loop,{});

			// timeline functions:
			this.frame_0 = function() {
				this.meubotao.addEventListener('click', minhaFuncao);
				var scope = this;
				function minhaFuncao(){
					scope.gotoAndPlay('video');
				}
			}
			this.frame_27 = function() {
				this.stop();
			}
			this.frame_28 = function() {
				this.btnClickTAG.addEventListener('click', btnclique);
				function btnclique(){
					var clickTag = 'http://www.google.com.br';
					window.location = clickTag;
				}
			}
			this.frame_44 = function() {
				this.stop();
			}
			this.frame_45 = function() {
				this.stop();
			}

			// actions tween:
			this.timeline.addTween(cjs.Tween.get(this).call(this.frame_0).wait(27).call(this.frame_27).wait(1).call(this.frame_28).wait(16).call(this.frame_44).wait(1).call(this.frame_45).wait(1));

			// Botao
			this.meubotao = new lib.bt();
			this.meubotao.setTransform(-149.8,-496.1,0.713,0.933,0,0,0,-0.1,-160.3);
			new cjs.ButtonHelper(this.meubotao, 0, 1, 2, false, new lib.bt(), 3);

			this.btnClickTAG = new lib.bt2();
			this.btnClickTAG.setTransform(-149.8,-497.3,0.713,0.941,0,0,0,-0.1,-160.3);
			new cjs.ButtonHelper(this.btnClickTAG, 0, 1, 2, false, new lib.bt2(), 3);

			this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.meubotao}]}).to({state:[{t:this.btnClickTAG}]},28).wait(18));

			// tela video
			this.videoHTML5 = new lib.telavideo();
			this.videoHTML5.setTransform(-170,-801,1,1,0,0,0,-0.1,-139.9);
			this.videoHTML5._off = true;

			this.timeline.addTween(cjs.Tween.get(this.videoHTML5).wait(28).to({_off:false},0).to({y:-495.2},16,cjs.Ease.get(1)).wait(2));

			// btnAssistaaovideo
			this.instance = new lib.btnAssistaaovideo();
			this.instance.setTransform(-425.1,-423.9,1,1,0,0,0,-0.1,-33.9);
			this.instance._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance).wait(10).to({_off:false},0).to({x:-179.5},6,cjs.Ease.get(0.96)).wait(12).to({x:-428},7).to({_off:true},1).wait(10));

			// item 4
			this.instance_1 = new lib.item4();
			this.instance_1.setTransform(-67.4,-589.4,1.09,1.09);
			this.instance_1._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(23).to({_off:false},0).to({_off:true},21).wait(2));

			// item 3
			this.instance_2 = new lib.item3();
			this.instance_2.setTransform(-132.7,-588.7,1.09,1.09);
			this.instance_2._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_2).wait(17).to({_off:false},0).to({_off:true},27).wait(2));

			// item 2
			this.instance_3 = new lib.item2();
			this.instance_3.setTransform(-194.2,-588.7,1.09,1.09);
			this.instance_3._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_3).wait(12).to({_off:false},0).to({_off:true},32).wait(2));

			// item 1
			this.instance_4 = new lib.item1();
			this.instance_4.setTransform(-275.6,-597.9,0.196,0.196);
			this.instance_4._off = true;

			this.timeline.addTween(cjs.Tween.get(this.instance_4).wait(7).to({_off:false},0).to({_off:true},37).wait(2));

			// Mas os direitos  trabalhistas  e benefícios  estão todos  asseg
			this.instance_5 = new lib.masosdireitos();
			this.instance_5.setTransform(-185.5,-477.9,0.48,0.48,0,0,0,-8.3,-44.5);

			this.timeline.addTween(cjs.Tween.get(this.instance_5).to({_off:true},44).wait(2));

			// animacao img
			this.instance_6 = new lib.animacaoimg();
			this.instance_6.setTransform(-149.7,-496.9,1,1,0,0,0,0,-148.8);

			this.timeline.addTween(cjs.Tween.get(this.instance_6).wait(46));

		}).prototype = p = new cjs.MovieClip();
		p.nominalBounds = new cjs.Rectangle(-330.8,-645.8,362.6,299.4);


		// stage content:
		(lib.html5final = function() {
			this.initialize();

			// moldura
			this.shape = new cjs.Shape();
			this.shape.graphics.f().s("#0067B6").ss(1.5,2,2,3,true).p("AXXTdMgutAAAMAAAgm5MAutAAAg");
			this.shape.setTransform(150,125);

			// conteudo
			this.instance = new lib.conteudo();
			this.instance.setTransform(276.2,209.2,0.842,0.842,0,0,0,0,-397.4);

			this.addChild(this.instance,this.shape);
		}).prototype = p = new cjs.Container();
		p.nominalBounds = new cjs.Rectangle(148.6,124.5,304.3,252.6);

		})(lib = lib||{}, images = images||{}, createjs = createjs||{});
		var lib, images, createjs;
	</script>
	<script type="text/javascript">
		(function(){
			var canvas, stage, exportRoot;
			function handleFileLoad(evt) {
				if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
			}

			function htmlVideo(callback) {
				var video = document.createElement('video');
				video.id = 'uol-insercao-html-video';
				video.src = 'longo.mp4';
				video.width = 276;
				video.heigt = 230;
				video.style.position = 'absolute';
				video.style.top = '22px';
				video.style.left = '13px';
				video.style.zInde = 99999999;
				video.play();
				video.addEventListener('ended', function(){
					callback();
				});
				var container = document.getElementById('tm-container-html5-canvas');
				container.appendChild(video);
			}

			function htmlVideoHide() {
				var div = document.getElementById('uol-insercao-html-video');
				div.style.display = 'none';
			}

			function handleComplete() {
				exportRoot = new lib.html5final();

				stage = new createjs.Stage(canvas);
				stage.addChild(exportRoot);
				stage.update();
				stage.enableMouseOver();

				createjs.Ticker.setFPS(lib.properties.fps);
				createjs.Ticker.addEventListener("tick", stage);
			}

			function cretaContainers (container) {
				var div = document.createElement('div');
				div.id = 'tm-container-html5-canvas';
				div.style.width = '300px';
				div.style.height = '250px';
				div.style.position = 'relative';
				var canvas = document.createElement('canvas');
				canvas.id = "canvas";
				canvas.width = 300;
				canvas.height = 250;
				canvas.style.backgroundColor = '#FFFFFF';
				div.appendChild(canvas);
				container.appendChild(div);
			}

			function getCanvasElement() {
				canvas = document.getElementById("canvas");
				images = images||{};

				var loader = new createjs.LoadQueue(false);
				loader.addEventListener("fileload", handleFileLoad);
				loader.addEventListener("complete", handleComplete);
				loader.loadManifest(lib.properties.manifest);
			}

			function init() {
				var container = document.getElementById('banner-300x250-area');
				if (container === null) {
					return;
				}
				cretaContainers(container);
				getCanvasElement();
			}
			init();
		})();
	</script>
</div>