<div id="banner-300x250-3_ad_container">

	<script type="text/javascript">
		document.write('<scr'+'ipt type="text/javascr'+'ipt" src="http://www5.smartadserver.com/ac?pgid=436952&insid=4326731&tmstp='+Math.round(Math.random()*99999999999)+'&clcturl=[countgo]"></scr'+'ipt>');
	</script><script type="text/javascript" src="http://www5.smartadserver.com/ac?pgid=436952&amp;insid=4326731&amp;tmstp=43816742370&amp;clcturl=[countgo]"></script>

	<div id="sas_25422_2">
	<div id="sasBannerVideo_4326731_2" style="position: relative; width: 300px; height: 250px; visibility: visible; display: block; margin: 0px auto;">

	<video id="sasVideoPlayer_4326731_2" style="width:300px; height: 250px;background-color: black; padding: 0.01px">
		<source src="http://ced.sascdn.com/diff/1090/4326731/black.mp4" type="video/mp4">
		<source src="http://ced.sascdn.com/diff/1090/4326731/black.webm" type="video/webm">
	</video>

	<div id="sasVideoPlayCustom_4326731_2" style="height: 250px; width:300px; overflow: hidden; position: absolute; top: 0px; z-index: 99999;background: url('http://akamai.smartadserver.com/diff/1090/4326731/300x250.gif') no-repeat center center;background-size:contain;">
	</div>

	<div id="sasBannerVideo_4326731_2_sasAdPlayer" style="height: 100%; overflow: hidden; position: absolute; top: 0px; width: 0px; z-index: 10; visibility: hidden;"><div style="position: absolute; width: 100%; height: 100%; background-color:#000; -ms-filter: &quot;progid:DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; -webkit-opacity: 1; opacity: 1"></div><video height="100%" id="sas-video-sasBannerVideo_4326731_2" style="display: block; margin: 0px; position: absolute; text-align: center; height: 250px; width: 100%;" width="100%"></video><div class="sas-pnl-controls" id="sas-pnl-controls-sasBannerVideo_4326731_2" style="display: none;"></div><div class="sas-lb-loader" id="sas-lb-loader-sasBannerVideo_4326731_2"><div></div></div><div class="sas-btn-play" id="sas-btn-play-pause-sasBannerVideo_4326731_2" style="display: none;"><a></a></div><div class="sas-lb-ad-countdown" id="sas-lb-ad-countdown-sasBannerVideo_4326731_2" style="display: none;"><div></div></div><div class="sas-lb-vpaid-ad-countdown" id="sas-lb-vpaid-ad-countdown-sasBannerVideo_4326731_2"><div></div></div><div class="sas-btn-mute" id="sas-btn-sound-sasBannerVideo_4326731_2" style="right: 0px; display: none;"><a></a></div></div></div></div>
</div>
</div>

<video width="100%" height="100%" id="sas-video-sasBannerVideo_4326731_2" style="display: block; margin: 0px; position: absolute; text-align: center; height: 100%; width: 300px; visibility: visible; cursor: pointer;" src="http://ced.sascdn.com/diff/1090/4326733/longo_H.264.mp4"></video>